<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ 'app_rst_rede_credenciada_pesquisar' | recurso }}
</p>

<div class="container-pesquisar container-form">

    <form class="float-label">
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" name="razaoSocial" [(ngModel)]="filtro.razaoSocial" class="form-control">
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" [textMask]="{mask: mascaraCnpj, guide: false}" class="form-control" name="cnpj" [(ngModel)]="filtro.cnpj">
                </md-input-container>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="md-container">
                    <md-select placeholder="{{ 'app_rst_labels_segmento' | recurso }}" name="segmento" [(ngModel)]="filtro.segmento" id="segmento">
                        <md-option value=''> {{ 'app_rst_labels_selecione' | recurso }}</md-option>
                        <md-option *ngFor="let seg of segmento" [value]="seg.id">{{seg.descricao}}</md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="situacao" class="col-form-label pesquisa-situacao">{{ 'app_rst_labels_situacao' | recurso }}</label>
                <div>
                    <md-radio-group class="search" [(ngModel)]=" filtro.situacao" name="situacao" disableRipple>
                        <md-radio-button class="pesquisa-situacao" disableRipple id="todos" name="todos" value="">{{ 'app_rst_labels_situacao_todos' | recurso }}</md-radio-button>
                        <md-radio-button class="pesquisa-situacao" disableRipple *ngFor="let key of keysSituacao" [value]="key">{{situacoes[key]}}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn btn-primary" (click)="pesquisar()">{{ 'app_rst_btn_pesquisar' | recurso }}</button>
    <button type="button" class="btn btn-primary" (click)="incluir()" *ngIf="hasPermissaoCadastrar()">{{'app_rst_btn_novo' | recurso}}</button>
</div>



<div class="container-form space-up" *ngIf="isNotEmpty(redeCredenciada)">
    <div class="grid-pesquisa">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                    <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                    <th class="label"><span>{{ 'app_rst_labels_segmento' | recurso }}</span></th>
                    <th class="label"><span>{{ 'app_rst_labels_situacao' | recurso }}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of redeCredenciada" (click)="selecionar(item)">
                    <td class="col-quebra">{{item.razaoSocial}}</td>
                    <td class="col-nao-quebra">{{item.numeroCnpj | cnpjPipe }}</td>
                    <td class="col-quebra">{{item.segmento ? item.segmento.descricao : ''}}</td>
                    <td class="col-nao-quebra">{{item.dataDesligamento | inativo}}</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-paginacao">
            <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
        </div>
    </div>
</div>