<div class="grid-pesquisa">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th class=""><span class="label">Endereço</span></th>
                <th class=""><span class="label">Bairro</span></th>
                <th class="text-center"><span class="label">Estado</span></th>
                <th class=""><span class="label">Município</span></th>
                <th class="text-center"><span class="label">Número</span></th>
                <th class="text-center"><span class="label">&nbsp;</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list; let i = index" (click)="selecionar(item, i)">
                <td class="col-quebra col-endereco">{{item.endereco.descricao}}</td>
                <td class="col-quebra col-bairro">{{item.endereco.bairro}}</td>
                <td class="text-center col-estado">{{item.endereco.municipio.estado.siglaUF}}</td>
                <td class="col-quebra col-municipio">{{item.endereco.municipio.descricao}}</td>
                <td class="col-nao-quebra col-numero">{{item.endereco.numero}}</td>
                <td class="text-center"><button *ngIf="!modoConsulta" class="btn-link" (click)="removeEndereco(item)"><img class="lixo" src="assets/img/trash.svg" alt="Excluir"></button></td>
            </tr>
        </tbody>
    </table>
</div>