/*------------------------------------*\
    #User Image Upload
\*------------------------------------*/

.upload {
    width: 2rem;
}

.delete {
    width: 1.45rem;
}

.user-justify-content{
    display: flex;
    justify-content: center;
}

.user {
    vertical-align: middle;
    border-style: none;
    width: 150px;
    height: 150px;
}

.user-image--upload {
    text-align: center;
}

.user-upload--icons {
    padding: 1rem;
}

.user-upload--icons {
    padding: 1rem;
}
