.espaco-img {
    margin-left: 5px;
}

.searchlupa .btn {
    position: relative;
    left: auto;
    z-index: 10 !important;
    top: 10px;
    border: transparent !important;
}

.searchlupa .form-control {
    border: transparent;
    padding: 0px !important;
    padding-bottom: 20px !important;
}

.btn-img-link {
    width: 37px;
    height: 37px;
    position: unset;
    margin-top: 11px;
    margin-left: 10px;
}

.btn-img-grid {
    width: 25px;
    height: 25px;
}

.fontSize {
    font-size: 11px;
}