$lilac: #dbdbe3;
$light-grey: #808080;
$purple: #3e3748;
.res-item-interno {
    padding: 16px !important;
    margin-top: 8px;
    margin-bottom: 8px;
    .res-item-sub-titulo {
        display: flex;
        flex-flow: row;
        align-items: center;
        img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
        label {
            margin-bottom: 0
        }
    }
}

.res-col-interna {
    padding-left: 20px;
    padding-right: 20px;
}

:host /deep/ .col-res-multimedia {
    label,
    i {
        cursor: pointer;
    }
    i {
        position: relative;
        top: 8px;
        color: $light-grey;
    }
    @media screen and (max-width: 409px) {
        i {
            position: relative;
            top: 2px;
        }
    }
}

.res-secao {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid thin $light-grey;
}

md-card {
    padding: 0;
}

md-card-header {
    background: $light-grey
}

md-card-title {
    font-size: 14px !important;
    text-transform: uppercase
}

.mat-caption {
    text-transform: uppercase;
}

md-card-content {
    padding: 16px;
    >.row:nth-child(even) {
        background-color: $lilac !important;
    }
}
