<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<div class="teste">
    <div class="tela-externa">
        <div class="container-publico">
            <p class="titulo-pagina text-center">
                {{title}}
            </p>
            <div class="container-form" *ngIf="!isHashValido">
                <div class="row">
                    <p class="col-md-12 mx-auto text-center">
                        Esse link não é mais válido!
                    </p>
                </div>
            </div>
            <form novalidate [formGroup]="alterarSenhaForm" *ngIf="isHashValido">
                <div class="container-form">
                    <div class="row">
                        <p class="col-md-11 mx-auto">
                            A sua senha deve conter:
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 mx-auto">
                            <ul class="list-unstyled">
                                <li>- No mínimo 8 caracteres;</li>
                                <li>- Letra maiúscula;</li>
                                <li>- Letra minúscula;</li>
                                <li>- Número ou caracter especial.</li>
                            </ul>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group col-sm-11 mx-auto">
                            <md-input-container [floatPlaceholder]="true">
                                <input required mdInput placeholder="{{'app_rst_labels_senha' | recurso}}" type="password" id="senha" name="senha" formControlName="senha"
                                    class="form-class" minlength="8" appFormularioCamposErro/>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-11 mx-auto">
                            <md-input-container [floatPlaceholder]="true">
                                <input required mdInput placeholder="{{'app_rst_labels_confirmar_senha' | recurso}}" type="password" id="confirmaSenha" name="confirmaSenha"
                                    formControlName="confirmaSenha" class="form-class" minlength="8" appFormularioCamposErro/>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-rodape-acoes col-sm-4 mx-auto">
                            <button type="button " class="btn-rodape btn btn-primary btn-cadastro" (click)="cadastrarNovaSenha()">{{'app_rst_bnt_cadastrar' | recurso}}</button>                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
