<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>

<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="formulario">
        <alert *ngIf="inconsistencia" type="info" dismissible="true">
            <p>{{mensagemInconsistencia}}</p>
        </alert>
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [ngClass]="{'divDisabled': razaoSocial.disabled}" [floatPlaceholder]="true">
                    <input #razaoSocial mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" required type="text" maxlength="160"
                        class="form-control" id="razaoSocial" formControlName="razaoSocial" name="razaoSocial" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [ngClass]="{'divDisabled': cnpj.disabled}" [floatPlaceholder]="true">
                    <input #cnpj mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" maxlength="18" class="form-control"
                        [textMask]="{mask: mascaraCnpj, guide: false}" formControlName="cnpj" id="cnpj" appFormularioCamposErro>
                </md-input-container>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" required type="text" maxlength="160" class="form-control"
                        id="nomeFantasia" formControlName="nomeFantasia" name="nomeFantasia" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <div class="md-container">
                    <md-select placeholder="{{'app_rst_labels_departamento_regional' | recurso}}" required name="depRegional" formControlName="depRegional"
                        id="idDepRegional">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let depart of departamentos" [value]="depart.id">
                            {{depart.razaoSocial}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder=" {{'app_rst_labels_responsavel' | recurso }}" type="text" maxlength="160" class="form-control"
                        id="nomeResponsavel" name="nomeResponsavel" formControlName="nomeResponsavel">
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="formulario">

        <div class="container-subtitulo">
            <p>{{'app_rst_labels_data_endereco_contato' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_endereco' | recurso }}" required type="text" maxlength="100" class="form-control"
                        id="endereco" name="endereco" formControlName="endereco" appFormularioCamposErro>
                </md-input-container>
            </div>

            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_numero' | recurso }}" type="text" maxlength="5" class="form-control" id="numeroEnd"
                        name="numeroEnd" formControlName="numeroEnd" appFormularioCamposErro>
                </md-input-container>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_bairro' | recurso }}" type="text" maxlength="50" class="form-control" id="bairro"
                        name="bairro" formControlName="bairro">
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_complemento' | recurso }}" type="text" maxlength="100" class="form-control"
                        id="complemento" name="complemento" formControlName="complemento" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_CEP' | recurso }}" required type="text" maxlength="10" class="form-control"
                        [textMask]="{mask: mascaraCep, guide: false}" id="cep" name="cep" formControlName="cep">
                </md-input-container>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <div class="md-container">
                    <md-select placeholder="{{ 'app_rst_labels_estado' | recurso }}" required name="estado" formControlName="estado" id="estado"
                        (change)="buscarMunicipio()" appFormularioCamposErro>
                        <md-option>
                            <option value="undefined">Selecione</option>
                        </md-option>
                        <md-option *ngFor='let estado of estados' [value]="estado.id">{{estado.descricao}}</md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <ng-select [options]="municipios" allowClear=true formControlName="municipio" maxlength="50" notFoundMsg="{{ 'app_rst_nenhum_registro_encontrado' | recurso }}">
                </ng-select>
                <span class="floating-label">Municípios *</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_email' | recurso }}" type="text" maxlength="50" class="form-control" id="email"
                        name="email" formControlName="email">
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="row space-up">
    <div class="form-group col-md-12">
        <div class="container-form">
            <form [formGroup]="formulario">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_adicionar_telefone' | recurso}}</p>
                </div>
                <!--Grid Telefone -->
                <telefone-modal #modal [modoConsulta]="modoConsulta" [(list)]="uat.telefone"></telefone-modal>
                <telefone-grid [modal]="modal" [modoConsulta]="modoConsulta" *ngIf="existeTelefone()" [(list)]="uat.telefone"></telefone-grid>
                <!--Fim Grid Telefone -->
            </form>
        </div>
    </div>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }" *ngIf="showDataDesligamento">
    <form [formGroup]="formulario">
        <div class="container-subtitulo">
            <p>Desativação</p>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <my-date-picker name="mydate" [options]="datePickerOptions" locale="pt-br" formControlName="dtdesligamento" name="dtdesligamento"
                    (keyup)="maskDate($event,formulario,'dtdesligamento')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_desativacao' | recurso }} </span>
            </div>
        </div>

    </form>
</div>

<div class="btn-rodape-acoes space-up">
    <button *ngIf="!modoConsulta" type="button" class="btn btn-primary btn-cadastro" (click)="salvar()"> {{ 'app_rst_btn_salvar' | recurso }}</button>
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar()"> {{ 'app_rst_btn_voltar' | recurso }}</button>
</div>
