<app-bloqueio [processado]='false'></app-bloqueio>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-4 card-single card-idade'>
            <div class='row'>
                <div class='col-12 col-info-label'>
                    <label> Idade </label>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-info-valor'>
                    <label>{{ idade || '--'}}</label>
                </div>
                <small style="margin-left: 5px">{{ disclaimerAferimento }}</small>
            </div>
        </div>
        <div class='col-md-4 card-single card-altura'>
            <div class='row'>
                <div class='col-12 col-info-label'>
                    <label>Altura ({{altura?.unidade}})</label>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-info-valor'>
                    <label>{{ altura?.valor || '--'}}</label>
                </div>
                <small style="margin-left: 5px">{{ disclaimerAferimento }}</small>
            </div>
        </div>
        <div class='col-md-4 card-single card-circunferencia'>
            <div class='row'>
                <div class='col-12 col-info-label'>
                    <label>Peso ({{peso?.unidade}})</label>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-info-valor'>
                    <label>{{ peso?.valor || '--'}}</label>
                </div>
                <small style="margin-left: 5px">{{ disclaimerAferimento }}</small>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4 col-sm-6 col-xs-12 card-res'>
            <div class='row row-card-content'>
                <div class='col-12'>
                    <div class='row row-titulo'>
                        <div class='col-6 col-titulo'>
                            Pressão Arterial
                        </div>
                        <div class='col-6 col-data'>
                            {{ hoje | date:'mediumDate'}}
                        </div>
                    </div>
                    <!-- <div id="horizontal-line" class="horizontal-line">140 <hr></div>
                    <div id="horizontal-line" class="horizontal-line" style="padding-left:8px">90 <hr></div> -->
                    <div class='row row-chart' *ngIf='!this.semDadosPressaoSuficiente'>
                        <div class='col-12' *ngIf='graficoPressaoSanguinea'>
                            <canvas id="graficoPressao" baseChart [datasets]='graficoPressaoSanguinea.dados'
                                    [labels]='graficoPressaoSanguinea.labels' [options]='graficoPressaoSanguinea.opcoes'
                                    style='min-height:300px' height='300px' chartType="bar"></canvas>
                            <small>Fonte: Sociedade Brasileira de Hipertensão</small>
                        </div>
                    </div>
                    <div class='row row-chart' *ngIf='this.semDadosPressaoSuficiente'>
                        <div class='col-12'>
                            Não foi encontrado nenhum registro de pressão arterial.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6 col-xs-12 card-res '>
            <div class='row row-card-content'>
                <div class='col-12'>
                    <div class='row row-titulo '>
                        <div class='col-6 col-titulo'>
                            IMC
                        </div>
                        <div class='col-6 col-data'>
                            {{ hoje | date:'mediumDate'}}
                        </div>
                    </div>
                    <div class='row row-chart row-imc text-center '>
                        <div class='col-12 text-left' *ngIf='this.imc == null'>
                            Não foi encontrado nenhum registro de IMC.
                        </div>
                        <div *ngIf='!(this.imc == null)' class='col-6 col-md-6 col-lg-8 col-info-imc text-left '>
                            <div class='row row-info-imc '>
                                <div class='col-3 col-valor-imc' style="margin-bottom: 0">
                                    {{ imc?.valor }}
                                </div>
                                <div class='col-7 col-unidade-imc'>
                                    {{imc?.unidade }}
                                </div>
                            </div>
                            <div class='row '>
                                <div class='col-12 col-imc-progress text-center '>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-obeso"
                                             [class.selecionado]='imc?.valor>= 30' role="progressbar"
                                             style="width:100%; height:25%;">
                                            <label class='progress-label'> > ou = a 30 </label>
                                            <label class='progress-label'> Obeso </label>
                                        </div>
                                        <div class="progress-bar progress-bar-sobrepeso"
                                             [class.selecionado]='24.9 < imc?.valor && imc?.valor <= 29.9 '
                                             role="progressbar" style="width:100%; height: 25%;">
                                            <label class='progress-label'> 24,9 - 29.9 </label>
                                            <label class='progress-label'> Sobrepeso </label>
                                        </div>
                                        <div class="progress-bar progress-bar-normal"
                                             [class.selecionado]='18.5 < imc?.valor && imc?.valor <= 24.9'
                                             role="progressbar" style="width:100%; height: 25%;">
                                            <label class='progress-label'> 18,5 - 24,9 </label>
                                            <label class='progress-label'> Normal </label>
                                        </div>
                                        <div class="progress-bar progress-bar-abaixo-peso"
                                             [class.selecionado]='imc?.valor <= 18.5' role="progressbar"
                                             style="width:100%; height: 25%;">
                                            <label class='progress-label'> {{ '< ' }} 18,5</label>
                                            <label class='progress-label '> Abaixo do peso </label>
                                        </div>
                                    </div>
                                </div>
                                <small style="margin-top: 5px;">Fonte: ABESO</small>
                            </div>
                        </div>
                        <div
                            class='col-6 col-md-6 col-lg-4 col-imagem-corpo {{ getClasseImagemCorpo() }} {{getClasseNivelIMC()}}'>

                        </div>
                        <small style="margin-left: 5px">{{ disclaimerAferimento }}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6 col-xs-12 card-res '>
            <div class='row row-card-content '>
                <div class='col-12'>
                    <div class='row row-titulo'>
                        <div class='col-6 col-titulo' style="font-size: 15px;">
                            Circunferência Abdominal
                        </div>
                        <div class='col-6 col-data'>
                            {{ hoje | date:'mediumDate'}}
                        </div>
                    </div>
                    <div class='row row-chart' *ngIf='!this.semDadosPesoSuficiente'>
                        <div class='col-12' *ngIf='this.graficoPeso'>
                            <canvas id="graficoPeso" baseChart [datasets]='graficoPeso.dados'
                                    [labels]='graficoPeso.labels' [colors]='graficoPeso.cores'
                                    [options]='graficoPeso.opcoes' style='min-height:300px' height='300px'
                                    chartType="line"></canvas>
                        </div>
                        <small style="margin-top: 5px;">Referência: {{ referenciaAbdominal() }}</small>
                    </div>
                    <div class='row row-chart' *ngIf='this.semDadosPesoSuficiente'>
                        <div class='col-12'>
                            Não foi encontrado nenhum registro de circunferência abdominal.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row' style='margin-top: 16px;'>
        <div class='col-12 text-right'>
            <a class="btn btn-primary" routerLink="/res/minhasaude">Minha saúde</a>
        </div>
    </div>
</div>
