<div class="container-form space-up">
    <div class="container-subtitulo">
        <p>{{titulo}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresas)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="!isEmpty(listaEmpresas)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresas">
                        <td class="col-quebra">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.empresa.cnpj | cnpjPipe }}</td>
                        <td class="text-center">
                            <button *ngIf="!modoConsulta" class="btn-link" (click)="removerEmpresa(item)"><img class="lixo"
                                                                                                            src="assets/img/trash.svg"
                                                                                                            alt="Excluir">
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="temPaginacao" class="btn-paginacao">
                <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                    (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>