<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ 'app_rst_parceiro_title_pesquisar' | recurso }}
</p>

<div class="container-pesquisar container-form">
    <form class="float-label">
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_razao_social_nome' | recurso }}" type="text" name="razao" maxlength="160" [(ngModel)]="filtro.razaoSocialNome" class="form-control" id="razao">
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_cpf_cnpj' | recurso }}" type="text" id="cpfcnpj" class="form-control" name="cpfcnpj" maxlength="18" (keyup)="mudarMascara($event)" [(ngModel)]="inputCnpjCpf">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-lg-4">
                <div class="md-container">
                    <md-select placeholder="{{ 'app_rst_labels_especialidades' | recurso }}" name="status" [(ngModel)]="filtro.especialidade" id="selectStatus">
                        <md-option value=''>{{ 'app_rst_labels_situacao_todos' | recurso }}</md-option>
                        <md-option *ngFor="let key of especialidades" [value]="key.id">{{key.descricao}}</md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="situacao" class="col-form-label pesquisa-situacao">{{ 'app_rst_labels_situacao' | recurso }}</label>
                <div>
                    <md-radio-group class="search" [(ngModel)]=" filtro.situacao" name="situacao" disableRipple>
                        <md-radio-button class="pesquisa-situacao" disableRipple id="todos" name="todos" value="">{{ 'app_rst_labels_situacao_todos' | recurso }}</md-radio-button>
                        <md-radio-button class="pesquisa-situacao" disableRipple *ngFor="let key of keysSituacao" [value]="key">{{situacoes[key]}}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn btn-primary" (click)="pesquisar()"> Pesquisar</button>
    <button type="button" class="btn btn-primary" (click)="incluir()" *ngIf="hasPermissaoCadastro()"> {{'app_rst_btn_novo' | recurso}}</button>
</div>

<div class="container-form space-up" *ngIf="isNotEmpty(parceiros)">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th class="label">{{'app_rst_labels_razao_social_nome' | recurso}}</th>
                <th class="label">{{'app_rst_labels_cpf_cnpj' | recurso}}</th>
                <th class="label">{{'app_rst_labels_situacao' | recurso}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of parceiros" (click)="selecionar(item)">
                <td class="col-quebra" style="width:28%;">{{item.nome}}</td>
                <td class="col-nao-quebra" style="width:8%;">{{getCnpjCpfFormatado(item.numeroCnpjCpf)}}</td>
                <td class="col-nao-quebra" style="width: 8%;">{{getSituacaoPorData(item.dataDesligamento)}}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-paginacao">
        <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
            (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
    </div>
</div>