<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{'app_rst_usuario_unidade_sesi_associados_title' | recurso}}
</p>

<div class="container-form" *ngIf="!isBarramento">
    <div class="row">
        <div class="form-group col-sm-8">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" name="razaoSocial" [(ngModel)]="filtro.razaoSocial" class="form-control" id="razaoSocial" maxlength="160" #razaoSocialFiltro="ngModel">
            </md-input-container>
        </div>
        <div class="form-group col-sm-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" [textMask]="{mask: mascaraCnpj, guide: false}" name="cnpj" [(ngModel)]="filtro.cnpj" class="form-control" id="cnpj" #cnpjFiltro="ngModel">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-lg-4">
            <div class="md-container">
                <md-select placeholder="{{'app_rst_labels_departamento_regional' | recurso}}" name="depRegional" [(ngModel)]="filtro.idEstado" id="selectDepRegional ">
                    <md-option value=undefined>{{'app_rst_labels_selecione' | recurso}}</md-option>
                    <md-option *ngFor='let depart of departamentos' [value]="depart.id">{{depart.razaoSocial}}</md-option>
                </md-select>
            </div>
        </div>
    </div>
</div>

<div *ngIf = "isBarramento">
    <app-usuario-barramento [usuario]="usuario"></app-usuario-barramento>
</div>

<div class="btn-filter-pesquisar space-up" *ngIf="!isBarramento">
    <button class="btn btn-primary" (click)="pesquisar()">{{'app_rst_btn_pesquisar' | recurso}}</button>
    <button *ngIf="hasPermissao()" class="btn btn-primary" (click)="novo()">{{'app_rst_btn_novo' | recurso}}</button>
    <button class="btn btn-secondary" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>
<div class="container-form space-up">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_unidade_sesi_associados_title' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaUsuarioEntidade)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaUsuarioEntidade)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span class="label">{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span class="label">{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label"><span class="label">{{ 'app_rst_labels_municipio' | recurso }}</span></th>
                        <th class="label text-center" *ngIf="!modoConsulta">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaUsuarioEntidade">
                        <td class="col-quebra col-nome">{{item.uat.razaoSocial}}</td>
                        <td class="col-nao-quebra">{{item.uat.cnpj | cnpjPipe}}</td>
                        <td class="col-quebra col-nome">{{item.uat.endereco && item.uat.endereco[0] ? item.uat.endereco[0].endereco.municipio.descricao : ''}}</td>
                        <td class="text-center" *ngIf="!modoConsulta">
                            <button class="btn-link" (click)="removerUnidade(item)"><img class="lixo" src="assets/img/trash.svg" alt="Excluir"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                    (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>
