<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="container-form">
    <form novalidate [formGroup]="classificacaoPontuacaoForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_descricao' | recurso }}" type="text" maxlength="160" class="form-control" formControlName="descricao" name="descricao" id="descricao" required/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_mensagem' | recurso }}" type="text" maxlength="160" class="form-control" formControlName="mensagem" name="mensagem" id="mensagem" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_recomendacao' | recurso }}" type="text" maxlength="160" class="form-control" formControlName="recomendacao" name="recomendacao" id="recomendacao" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_pontuacao_minima' | recurso }}" type="text" class="form-control" maxlength="4" formControlName="valorMinimo" required name="valorMinimo" id="valorMinimo" numberOnly/>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_pontuacao_maxima' | recurso }}" type="text" class="form-control" maxlength="4" formControlName="valorMaximo" required name="valorMaximo" id="valorMaximo" numberOnly/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="btn-rodape-acoes space-up">
    <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!this.modoConsulta" (click)="salvar()">{{'app_rst_btn_salvar' | recurso}}</button>
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>