<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<form novalidate #formCertificado="ngForm" *ngIf="exibir()">

    <div class="container-form">
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input #nome mdInput [(ngModel)]="certificado.descricao" name="nome" id="nome" placeholder="{{ 'app_rst_labels_nome' | recurso }}" type="text" required maxlength="150" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="md-container">
                            <md-select required [(ngModel)]="certificado.modalidade" name="modalidade" id="modalidade" placeholder="{{ 'app_rst_labels_modalidade' | recurso }}">
                                <md-option>
                                    <option value=''>{{ 'app_rst_labels_selecione' | recurso }}</option>
                                </md-option>
                                <md-option *ngFor="let mod of listaModalidade" [value]="mod">
                                    {{modalidade[mod]}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <div class="input-group">
                        <div class="md-container">
                            <md-select required [(ngModel)]="certificado.tipoCurso.id" name="tipoCurso" id="tipoCurso" placeholder="{{ 'app_rst_labels_tipo_curso' | recurso }}">
                                <md-option>
                                    <option value=''>{{ 'app_rst_labels_selecione' | recurso }}</option>
                                </md-option>
                                <md-option *ngFor="let tipoCurso of listaTipoCurso" [value]="tipoCurso.id">
                                    {{tipoCurso.descricao}}
                                </md-option>
                            </md-select>
                        </div>

                    </div>
                </div>
                <div class="form-group  col-md-1">
                    <button #tooltip="mdTooltip" color="'grey'" [mdTooltip]="'Adicione um tipo de curso'" [mdTooltipPosition]="'left'" *ngIf="!this.modoConsulta" class="btn-img" (click)="adicionarTipoCurso(modalAdicionarTipoCurso); $event">
                                <img class="btn-img-link" src="assets/img/add.svg" alt="Adicionar">
                            </button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <md-input-container [floatPlaceholder]="true">
                        <input #cargaHoraria mdInput [(ngModel)]="certificado.cargaHoraria" name="cargaHoraria" id="cargaHoraria" placeholder="{{ 'app_rst_labels_carga_horaria' | recurso }}" type="text" maxlength="50" />
                    </md-input-container>
                </div>
                <div class="form-group col-md-3">
                    <my-date-picker placeholder="" id="dataValidade" [options]="datePickerOptions" locale="pt-br" [(ngModel)]="certificado.dataValidade" name="dataValidade"></my-date-picker>
                    <span class="floating-label">{{ 'app_rst_labels_data_validade' | recurso }}</span>
                </div>
                <div class="form-group col-md-3">
                    <my-date-picker placeholder="" id="dataConclusao" [options]="datePickerOptions" locale="pt-br" [(ngModel)]="certificado.dataConclusao" name="dataConclusao"></my-date-picker>
                    <span class="floating-label">{{ 'app_rst_labels_data_conclusao' | recurso }}</span>
                </div>
                <div class="form-group col-md-3">
                    <md-input-container [floatPlaceholder]="true">
                        <div class="input-group searchlupa">
                            <input disabled mdInput required placeholder="{{'app_rst_labels_certificado' | recurso}}" name="nomeArquivo" id="nomeArquivo" [(ngModel)]="nomeArquivo" type="text" class="form-control">

                            <label *ngIf="!existeArquivo()" for='arquivo' class="btn-img"><span class="fa fa-search btn-add-certificado"  aria-hidden="true"></span></label>
                            <label *ngIf="existeArquivo()" for='fake' class="btn-img"><span class="fa fa-times btn-add-certificado"  (click)="removerUpload()" aria-hidden="true"></span></label>
                        </div>
                        <input #inputFile required id='arquivo' name="arquivo" style="display: none" accept="images/.png, .jpg, .jpeg, .tif, .pdf" type="file" (change)=fileChanged($event)>
                    </md-input-container>
                    <div class="fontSize">
                        {{labelTamanhoArquivo}}
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-rodape-acoes space-up">
            <button type="button " class="btn-rodape btn btn-primary btn-cadastro " (click)="salvar(formCertificado)">{{'app_rst_btn_salvar' | recurso}}</button>
            <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" *ngIf="!this.meusCertificados" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
        </div>
    </div>
</form>

<div class="container-form space-up">
    <div class="container-subtitulo">
        <p>{{'app_rst_labels_certificados_adicionados' | recurso}}</p>
    </div>
    <span *ngIf="!isNotEmpty(listaCertificados)">{{'app_rst_nenhum_registro_encontrado' | recurso}}</span>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaCertificados)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><span>Nome</span></th>
                        <th><span>Tipo de Curso</span></th>
                        <th><span>Data de Validade</span></th>
                        <th class="text-center"><span>Visualiar</span></th>
                        <th class="text-center"><span>Certificado</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaCertificados; let i = index">
                        <td class="col-quebra">{{ item.descricao }}</td>
                        <td class="col-quebra">{{ item.tipoCurso.descricao }}</td>
                        <td class="col-data-nascimento">{{ item.dataValidade }}</td>
                        <td class="text-center"><button class="btn-link" (click)="visualizar(item,modalVisualizarCertificado )"><img class="btn-img-grid"  src="assets/img/visualizar.svg" alt="visualizar"></button></td>
                        <td class="text-center"><button class="btn-link" (click)="downloadFile(item)"><img class="btn-img-grid" src="assets/img/download.svg" alt="baixar"></button></td>
                        <td class="text-center"><button class="btn-link" (click)="remover(item)" *ngIf="!modoConsulta"><img class="btn-img-grid" src="assets/img/trash.svg" alt="excluir"></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                    (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>
<div *ngIf="temPerfilTrabalhador() && (meusDados || meusCertificados)">
    <div class="container-form space-up">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_certificados_adicionais' | recurso}}</p>
        </div>
        <form novalidate #formCertificadoTrabalhador="ngForm">
            <div class="corpo-card">
                <div class="row">
                    <div class="form-group col-md-12">
                        <md-input-container [floatPlaceholder]="true">
                            <div class="input-group searchlupa">
                                <input disabled mdInput required placeholder="{{'app_rst_labels_certificado' | recurso}}" name="nomeArquivoTrabalhador" id="nomeArquivoTrabalhador" [(ngModel)]="nomeArquivoTrabalhador" type="text" class="form-control">

                                <label *ngIf="!existeArquivo()" for='arquivoTrabalhador' class="btn-img"><span class="fa fa-search btn-add-certificado"  aria-hidden="true"></span></label>
                                <label *ngIf="existeArquivo()" for='fake' class="btn-img"><span class="fa fa-times btn-add-certificado"  (click)="removerUpload()" aria-hidden="true"></span></label>
                            </div>
                            <input #inputFileTrabalhador required id='arquivoTrabalhador' name="arquivoTrabalhador" style="display: none" accept="images/.png, .jpg, .jpeg, .tif, .pdf" type="file" (change)=fileChanged($event)>
                        </md-input-container>
                        <div class="fontSize">
                            {{labelTamanhoArquivo}}
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-rodape-acoes space-up">
        <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="temPerfilTrabalhador() && (meusDados || meusCertificados)" (click)="salvarArquivoTrabalhador(formCertificadoTrabalhador)">{{'app_rst_btn_salvar' | recurso}}</button>
    </div>
</div>
<div class="container-form space-up" *ngIf="isNotEmpty(listaCertificadosTrabalhador)">
    <div class="container-subtitulo" *ngIf="!(temPerfilTrabalhador() && (meusDados || meusCertificados))">
        <p>{{'app_rst_labels_certificados_adicionais' | recurso}}</p>
    </div>
    <div class="row grid-pesquisa">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><span>Nome</span></th>
                        <th class="text-center"><span>Certificado</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaCertificadosTrabalhador; let i = index">
                        <td class="col-quebra">{{ getNomeArquivo(item) }}</td>
                        <td class="text-center"><button class="btn-link" (click)="downloadFile(item)"><img class="btn-img-grid" src="assets/img/download.svg" alt="baixar"></button></td>
                        <td class="text-center"><button class="btn-link" (click)="remover(item)" *ngIf="temPerfilTrabalhador() && (meusDados || meusCertificados)"><img class="btn-img-grid" src="assets/img/trash.svg" alt="excluir"></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoTrabalhador.textPrimeiro" [lastText]="paginacaoTrabalhador.textUltimo" [nextText]="paginacaoTrabalhador.textProximo" [previousText]="paginacaoTrabalhador.textAnterior" [totalItems]="paginacaoTrabalhador.totalItens" [(ngModel)]="paginacaoTrabalhador.pagina"
                    [itemsPerPage]="paginacaoTrabalhador.qtdRegistro" (numPages)="paginacaoTrabalhador.numPages = $event" (pageChanged)="pageChangedTrabalhador($event)" [maxSize]="paginacaoTrabalhador.maxSize" class="pagination-sm justify-content-center"
                    [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>



<ng-template #modalAdicionarTipoCurso let-close="close" let-fechar="dismiss">
    <div class="modal-header">
        <p class="modal-title">Cadastro de Tipo de Curso</p>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="form-group col-12">
                    <input type="text" id="descricaoTipoCurso" name="descricaoTipoCurso" class="form-control" [(ngModel)]="novoTipoCurso.descricao" maxlength="150">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso }}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
    </div>
</ng-template>

<ng-template #modalVisualizarCertificado let-close="close" let-fechar="dismiss">
    <div class="modal-header">
        <p class="modal-title">Visualizar Certificado</p>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input #nome disabled mdInput [(ngModel)]="visualizarCertificado.descricao" name="visualizarNome" id="visualizarNome" placeholder="{{ 'app_rst_labels_nome' | recurso }}" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="md-container">
                            <md-select disabled [(ngModel)]="visualizarCertificado.modalidade" name="visualizarModalidade" id="visualizarModalidade" placeholder="{{ 'app_rst_labels_modalidade' | recurso }}">
                                <md-option>
                                    <option value=''>{{ 'app_rst_labels_selecione' | recurso }}</option>
                                </md-option>
                                <md-option *ngFor="let mod of listaModalidade" [value]="mod">
                                    {{modalidade[mod]}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input #visualizarTipoCurso disabled mdInput [(ngModel)]="visualizarCertificado.tipoCurso.descricao" name="visualizarTipoCurso" id="visualizarTipoCurso" placeholder="{{ 'app_rst_labels_tipo_curso' | recurso }}" type="text" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <md-input-container [floatPlaceholder]="true">
                        <input #cargaHoraria mdInput disabled [(ngModel)]="visualizarCertificado.cargaHoraria" name="visualizarCargaHoraria" id="visualizarCargaHoraria" placeholder="{{ 'app_rst_labels_carga_horaria' | recurso }}" type="text" maxlength="50" />
                    </md-input-container>
                </div>
                <div class="form-group col-md-3">
                    <my-date-picker disabled placeholder="" id="visualizarDataValidade" [options]="datePickerOptions" locale="pt-br" [(ngModel)]="visualizarCertificado.dataValidade" name="dataValidade"></my-date-picker>
                    <span class="floating-label">{{ 'app_rst_labels_data_validade' | recurso }}</span>
                </div>
                <div class="form-group col-md-3">
                    <my-date-picker disabled placeholder="" id="dataConclusao" [options]="datePickerOptions" locale="pt-br" [(ngModel)]="visualizarCertificado.dataConclusao" name="dataConclusao"></my-date-picker>
                    <span class="floating-label">{{ 'app_rst_labels_data_conclusao' | recurso }}</span>
                </div>
                <div class="form-group col-md-3">
                    <md-input-container [floatPlaceholder]="true">
                        <div class="input-group searchlupa">
                            <input disabled mdInput placeholder="{{'app_rst_labels_certificado' | recurso}}" name="nomeArquivo" id="nomeArquivo" [(ngModel)]="nomeArquivoVisualizar" type="text" class="form-control">

                            <label class="btn-img"><span class="fa fa-search btn-add-certificado"  aria-hidden="true"></span></label>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
    </div>
</ng-template>
<div class="space-up">
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" *ngIf="!this.meusCertificados" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>