<ng2-toasty></ng2-toasty>

<div *ngIf="existeTelefone()">
    <button *ngIf="!modoConsulta" class="btn-img" (click)="adicionarTel()">
            <div class="modal-link-text">Adicionar novo contato</div></button>
</div>
<div *ngIf="!existeTelefone()">
    <div class="img-modal-btn row">
        <button *ngIf="!modoConsulta" class="btn-img no-focus col-md-12" (click)="adicionarTel()">
                <div class="col-md-12"><img class=" modal-btn-img-link" src="assets/img/add.svg" alt="Adicionar"></div>
                <div class="col-md-12 modal-link-text">Adicionar Contato
                </div>
            </button>
    </div>
</div>


<ng-template #modalTelefone let-close="close" let-fechar="dismiss">
    <div class="modal-header">
        <p class="modal-title">{{ 'app_rst_labels_telefone' | recurso }}</p>

    </div>
    <div class="modal-body" [ngClass]="{ divDis : modoConsulta }">
        <div class="container">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="md-container">
                        <md-select required [disabled]="modoConsulta" placeholder="{{ 'app_rst_labels_tipo' | recurso }}" [(ngModel)]="model.tipo" name="tipo">
                            <md-option>
                                <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                            </md-option>
                            <md-option *ngFor="let key of keysTiposTelefone" [value]="key">{{tiposTelefone[key]}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input required mdInput placeholder="{{ 'app_rst_labels_telefone' | recurso }}" [disabled]="modoConsulta" class="form-control" maxlength="15" name="numero" [(ngModel)]="model.numero" (keyup)="mudarMascara($event)">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-check col-md-3">
                    <md-checkbox [disabled]="modoConsulta" [(ngModel)]="model.contato" class="form-check-label col-md-6 form-check-input" appFormularioCamposErro aria-label="{{ 'app_rst_labels_contato' | recurso }}">
                        {{ 'app_rst_labels_contato' | recurso }}
                    </md-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="!modoConsulta" type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso }}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>

    </div>
</ng-template>