<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>

<p class="titulo-pagina">
    {{'app_rst_parceiro_title_cadastro' | recurso}}
</p>
<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="parceiroForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <md-radio-group formControlName="tipoPessoa" disableRipple>
                    <md-radio-button disableRipple id="juridico" name="tipoPessoa" value='PJ' type="radio" (click)="isPessoaJuridic(true)">{{'app_rst_labels_pessoa_juridica'| recurso }}</md-radio-button>
                    <md-radio-button disableRipple id="fisica" name="tipoPessoa" value='PF' type="radio" (click)="isPessoaJuridic(false)"> {{'app_rst_labels_pessoa_fisica' | recurso }}</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput required placeholder="{{'app_rst_labels_razao_social' | recurso}}" *ngIf="isPessoaJuridica" maxlength="160" type="text" name="nome" id="nome" formControlName="nome" class="form-control" appFormularioCamposErro/>
                    <input mdInput required placeholder="{{'app_rst_labels_nome' | recurso}}" *ngIf="!isPessoaJuridica" maxlength="160" type="text" name="nome" id="nome" formControlName="nome" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput required placeholder="{{'app_rst_labels_cnpj' | recurso}}" *ngIf="isPessoaJuridica" for="numeroCnpjCpf" type="text" name="numeroCnpjCpf" [textMask]="{mask: isPessoaJuridica ?  mascaraCnpj: mascaraCpf , guide: false}" id="numeroCnpjCpf"
                        formControlName="numeroCnpjCpf" class="form-control" appFormularioCamposErro/>
                    <input mdInput required placeholder="{{'app_rst_labels_cpf' | recurso}}" *ngIf="!isPessoaJuridica" name="numeroCnpjCpf" type="text" name="numeroCnpjCpf" [textMask]="{mask: isPessoaJuridica ?  mascaraCnpj: mascaraCpf , guide: false}" id="numeroCnpjCpf"
                        formControlName="numeroCnpjCpf" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
        </div>
        <div class="row" *ngIf="isPessoaJuridica">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nome_fantasia' | recurso}}" for="nomeFantasia" maxlength="160" type="text" name="nomeFantasia" id="nomeFantasia" formControlName="nomeFantasia" class="form-control" appFormularioCamposErro />
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" for="email" maxlength="100" type="text" name="email" id="email" formControlName="email" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
        </div>
        <div class="row" *ngIf="isPessoaJuridica">
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_inscricao_estadual_completo' | recurso}}" for="inscricaoEstadual" maxlength="20" type="text" name="inscricaoEstadual" id="inscricaoEstadual" formControlName="inscricaoEstadual" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>

            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_inscricao_municipal' | recurso}}" for="inscricaoMunicipal" maxlength="20" type="text" name="inscricaoMunicipal" id="inscricaoMunicipal" formControlName="inscricaoMunicipal" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_url' | recurso}}" for="url" maxlength="70" type="text" name="url" id="url" formControlName="url" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4" *ngIf="isPessoaJuridica">
                <div class="md-container">
                    <md-select id="porteEmpresa" name="porteEmpresa" formControlName="porteEmpresa" for="porteEmpresa" placeholder="{{ 'app_rst_labels_porte' | recurso }}" appFormularioCamposErro>
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let porte of listaPorteParceiros" [value]="porte.id">
                            {{porte.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-4" *ngIf="isPessoaJuridica">
                <div class="md-container">
                    <md-select for="tipoEmpresa" formControlName="tipoEmpresa" id="tipoEmpresa" placeholder="{{ 'app_rst_labels_tipo' | recurso }}" appFormularioCamposErro>
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let tipo of listaTipoParceiros" [value]="tipo.id">
                            {{tipo.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-4" *ngIf="!isPessoaJuridica">
                <my-date-picker class="prof" name="myDateNascimento" [options]="datePickerOptions" locale="pt-br" formControlName="dataNascimento" name="dataNascimento" (keyup)="maskDate($event, this.parceiroForm, 'dataNascimento')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_nascimento' | recurso }} </span>
            </div>
            <div *ngIf="!isPessoaJuridica" class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nit' | recurso}}" for="numeroNitResponsavel" maxlength="14" type="text" name="numeroNitResponsavel" [textMask]="{mask: mascaraNit, guide: false}" id="numeroNitResponsavel" formControlName="numeroNitResponsavel"
                        class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
            <div *ngIf="!isPessoaJuridica" class="form-group col-md-4">
                <label for="genero" class="col-form-label">{{ 'app_rst_labels_sexo' | recurso }}</label>
                <div>
                    <md-radio-group formControlName="genero" disableRipple>
                        <md-radio-button disableRipple id="sexoMasculino" name="genero" [value]="genero.M">{{ 'app_rst_valor_masculino' | recurso }}</md-radio-button>
                        <md-radio-button disableRipple id="sexoFeminino" name="genero" [value]="genero.F"> {{ 'app_rst_valor_feminino' | recurso }} </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <ng-select [options]="listaEspecialidades" formControlName="especialidades" maxlength="50" notFoundMsg="{{ 'app_rst_nenhum_registro_encontrado' | recurso }}" multiple=true>
                </ng-select>
                <span class="floating-label">Especialidades</span>
            </div>
            <div class="form-group col-md-8" *ngIf="!isPessoaJuridica">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_cargo' | recurso}}" for="cargoResponsavel" maxlength="14" type="text" name="cargoResponsavel" id="cargoResponsavel" formControlName="cargoResponsavel" class="form-control" appFormularioCamposErro/>
                </md-input-container>
            </div>
        </div>

        <div class="row" *ngIf="!isPessoaJuridica">

        </div>
        <!--Grid Segmento -->
        <div class="row">
            <div class="form-group col-sm-10 col-md-8">
                <div class="borda-segmento">
                    <div id="modalLupa" #modalLupa class="input-group searchlupa">
                        <md-input-container style="border-color:transparent" [floatPlaceholder]="true">
                            <input mdInput placeholder="{{'app_rst_labels_segmento' | recurso }}" disabled type="text" name="segmento" id="modalLupa" value="{{getDescricaoSegmento()}}" class="form-control" appFormularioCamposErro>
                        </md-input-container>
                        <app-segmento-modal [modoConsulta]="modoConsulta" *ngIf="!existeSegmento()" #segmentoModalComponent #segmentoModalComponent [(segmento)]="parceiro.segmento"></app-segmento-modal>
                        <span *ngIf="existeSegmento() && !modoConsulta">
                        <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="removeSegmento()">
                            <span class="fa" [ngClass]="{'fa-times':existeSegmento()}"  aria-hidden="true"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Grid Segmento -->
    </form>
</div>
<div class="row space-up">
    <!--Grid Telefone -->
    <div class="form-group col-md-5">
        <div class="container-form" [ngClass]="{ divDis : modoConsulta }">
            <form [formGroup]="parceiroForm">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_adicionar_telefone' | recurso}}</p>
                </div>
                <telefone-modal #modal [(list)]="parceiro.telefonesParceiro" [modoConsulta]="modoConsulta"></telefone-modal>
                <telefone-grid [modal]="modal" *ngIf="existeTelefone()" [(list)]="parceiro.telefonesParceiro" [modoConsulta]="modoConsulta"></telefone-grid>
            </form>
        </div>
    </div>
    <!--Fim Grid Telefone -->
    <!--Grid Endereço -->
    <div class="form-group col-md-7">
        <div class="container-form" [ngClass]="{ divDis : modoConsulta }">
            <form [formGroup]="parceiroForm">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_endereco' | recurso}}</p>
                </div>
                <app-endereco-modal [(modoConsulta)]="modoConsulta" #enderecoModalComponent [(list)]="parceiro.enderecosParceiro"></app-endereco-modal>
                <app-endereco-grid [(modoConsulta)]="modoConsulta" [enderecoModalComponent]="enderecoModalComponent" *ngIf="existeEndereco()" [(list)]="parceiro.enderecosParceiro"></app-endereco-grid>
            </form>
        </div>
    </div>
    <!--Fim Grid Endereço -->
</div>
<div class="container-form" [ngClass]="{ divDis : modoConsulta }" *ngIf="isPessoaJuridica">
    <form [formGroup]="parceiroForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_responsavel' | recurso}}</p>
        </div>
        <div *ngIf="isPessoaJuridica">
            <div class="row">
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_nome' | recurso}}" for="nomeResponsavel" maxlength="160" type="text" name="nomeResponsavel" id="nomeResponsavel" formControlName="nomeResponsavel" class="form-control" appFormularioCamposErro/>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_nit' | recurso}}" for="numeroNitResponsavel" maxlength="14" type="text" name="numeroNitResponsavel" [textMask]="{mask: mascaraNit, guide: false}" id="numeroNitResponsavel" formControlName="numeroNitResponsavel"
                            class="form-control" appFormularioCamposErro/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_cargo_responsavel' | recurso}}" for="cargoResponsavel" maxlength="14" type="text" name="cargoResponsavel" id="cargoResponsavel" formControlName="cargoResponsavel" class="form-control" appFormularioCamposErro/>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_telefone' | recurso}}" for="telefoneResponsavel" maxlength="15" (keyup)="mudarMascaraTelResponsavel($event)" type="text" name="telefoneResponsavel" id="telefoneResponsavel" formControlName="telefoneResponsavel"
                            class="form-control" appFormularioCamposErro/>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" for="emailResponsavel" maxlength="100" type="text" name="emailResponsavel" id="emailResponsavel" formControlName="emailResponsavel" class="form-control" appFormularioCamposErro/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }" *ngIf="parceiro.id">
    <form [formGroup]="parceiroForm">
        <div class="container-subtitulo">
            <p>Desativação</p>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <my-date-picker name="mydate" [options]="datePickerOptions" locale="pt-br" formControlName="dtdesligamento" name="dtdesligamento" (keyup)="maskDate($event, this.parceiroForm, 'dtdesligamento')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_desativacao' | recurso }} </span>
            </div>
        </div>

    </form>
</div>


<div class="btn-rodape-acoes" [ngClass]="{ space_up : isPessoaJuridica }">
    <span *ngIf="!modoConsulta">
                <button type="submit" class="btn btn-primary btn-cadastro" routerLinkActive=" active" (click)="salvar()">{{ 'app_rst_btn_salvar' | recurso }}</button>
            </span>

    <button class="btn btn-secondary btn-cadastro" routerLinkActive="active" (click)="voltar()">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>
