<app-bloqueio>
</app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>
<div class="container-form">
    <div class="row">
        <div class="col-12 space-up mx-auto">
            <!-- <div class="white-space mesangem-classificacao" [innerHtml]>{{igev}}</div> -->
            <div [innerHTML]="igev"></div>
        </div>
    </div>
    <div class="row space-up">
        <div class="form-group col-12">
            <button type="button" class="btn-rodape btn btn-primary btn-cadastro" (click)='consultarHistorico()'>{{ 'app_rst_questionario_consulte_seu_historico' | recurso }}</button>
            <button *ngIf="habilitarBtnPreencherIgev()" type="button" class="btn-rodape btn btn-primary btn-cadastro" (click)='preencherIgev()'>{{ 'app_rst_questionario_preencha_seu_igev' | recurso }}</button>
        </div>
    </div>
</div>
<div class="btn-rodape-acoes space-up" *ngIf="!this.rastroIgev">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)='voltar()'>Voltar</button>
</div>
<ng-template #modalResponder let-close="close" let-fechar="dismiss">
    <div class="container">
        <div class="modal-body">
            <p>{{'app_rst_questionario_igev_periodo' | recurso}}</p>
        </div>
        <div class="modal-footer-cnae">
            <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_ok' | recurso }}</button>
        </div>
    </div>
</ng-template>