<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>

<p class="titulo-pagina">
    {{ title }}
</p>
<div class="container-form">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="md-container">
                <md-select name="unidadeNomeObra" [(ngModel)]="unidadeObra" (change)="selecionarUnidadeObra()" placeholder="{{'app_rst_labels_unidade_obra' | recurso}}">
                    <md-option>
                        <option value="{{null}}">{{ 'app_rst_labels_selecione' | recurso }}</option>
                    </md-option>
                    <md-option *ngFor='let unidade of unidadeObraList' [value]="unidade">{{unidade.descricao}}
                    </md-option>
                </md-select>
            </div>
        </div>
        <!--Inicio Jornada -->
        <div class="form-group col-md-6" *ngIf="mostrarContainer() && hasPermissaoCadastrar()">
            <div class="md-container">
                <md-select name="jornada" [(ngModel)]="jornada" placeholder="Jornada" id="jornada" required>
                    <md-option>
                        <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                    </md-option>
                    <md-option *ngFor='let jornada of jornadas' [value]="jornada">
                        {{ jornada.jornada.descricao + ' - ' + jornada.jornada.qtdHoras}}
                    </md-option>
                </md-select>
            </div>
        </div>
    </div>
    <!--Fim Jornada -->
    <div id="allElements" *ngIf="mostrarContainer() && hasPermissaoCadastrar()">
        <form *ngIf="!modoConsulta" class="float-label">
            <!--Grid Setor -->
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <div class="borda-segmento">
                        <div id="modalLupa" #modalLupa class="input-group searchlupa">
                            <md-input-container style="border-color:transparent" [floatPlaceholder]="true">
                                <input mdInput required placeholder="{{'app_rst_empresa_setor_title' | recurso }}" disabled type="text" name="setor" id="modalLupa" value="{{descricaoSiglaSetor()}}" class="form-control" appFormularioCamposErro>
                            </md-input-container>
                            <app-setor-modal *ngIf="!existeSetor()" #setorModalComponent #setorModalComponent [(setor)]="setor" [(emFiltro)]="emFiltro"></app-setor-modal> <span *ngIf="existeSetor()">
                                            <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="removerSetor()">
                                                <span class="fa" [ngClass]="{'fa-times':existeSetor()}"  aria-hidden="true"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <div class="borda-segmento">
                        <div id="modalLupa" #modalLupa class="input-group searchlupa">
                            <md-input-container style="border-color:transparent" [floatPlaceholder]="true">
                                <input mdInput id="modalLupa" required placeholder="{{'app_rst_labels_cargo' | recurso }}" disabled type="text" name="cargo" value="{{descricaoCargo()}}" class="form-control" appFormularioCamposErro>
                            </md-input-container>
                            <app-cargo-modal *ngIf="!existeCargo()" #cboModalComponent [(cbo)]="cargo" [(emFiltro)]="emFiltro"></app-cargo-modal>
                            <span *ngIf="existeCargo()">
                                        <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="removerCargo()">
                                            <span class="fa" [ngClass]="{'fa-times':existeCargo()}"  aria-hidden="true"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim Grid Cargo -->
            <!--Grid Funcao -->
            <div class="row">
                <div class="form-group col-sm-10 col-md-6">
                    <div class="borda-segmento">
                        <div id="modalLupa" #modalLupa class="input-group searchlupa">
                            <md-input-container style="border-color:transparent" [floatPlaceholder]="true">
                                <input mdInput id="modalLupa" required placeholder="{{'app_rst_empresa_funcao_title' | recurso }}" disabled type="text" name="funcao" value="{{descricaoFuncao()}}" class="form-control" appFormularioCamposErro>
                            </md-input-container>
                            <app-funcao-modal *ngIf="!existeFuncao()" #funcaoModalComponent [(funcao)]="funcao" [(emFiltro)]="emFiltro"></app-funcao-modal>
                            <span *ngIf="existeFuncao()">
                                                <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="removerFuncao()">
                                                    <span class="fa" [ngClass]="{'fa-times':existeFuncao()}"  aria-hidden="true"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <!--Fim Grid Funcao -->
</div>


<div class="btn-filter-pesquisar space-up" *ngIf="mostrarContainer() && hasPermissaoCadastrar()">
    <button type="button" class="btn btn-primary" (click)="salvar();">{{ 'app_rst_btn_salvar' | recurso }}</button>
</div>

<div class="container-form space-up" *ngIf="mostrarContainer()">
    <div class="container-subtitulo">
        <p>{{'app_rst_empresa_lotacoes_adicionadas' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(empresasLotacao)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div *ngIf="isNotEmpty(empresasLotacao)">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="label text-center"><span>{{ 'app_rst_empresa_setor_title' | recurso }}</span></th>
                    <th class="label text-center"><span>{{ 'app_rst_labels_cargo' | recurso }}</span></th>
                    <th class="label text-center"><span>{{ 'app_rst_empresa_funcao_title' | recurso }}</span></th>
                    <th class="label text-center"><span>Jornada</span></th>
                    <th class="label text-center" *ngIf="hasPermissaoDesativar()">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of empresasLotacao">
                    <td class="col-nome">&nbsp;{{item.empresaSetor.setor.descricao}}</td>
                    <td class="col-nome">&nbsp;{{item.empresaCbo.cbo.descricao}}</td>
                    <td class="col-nome">&nbsp;{{item.empresaFuncao.funcao.descricao}}</td>
                    <td class="col-nome">&nbsp;{{item.empresaJornada.jornada.descricao + ' - ' + item.empresaJornada.jornada.qtdHoras}}</td>
                    <td class="text-center" *ngIf="hasPermissaoDesativar()">
                        <button class="btn-link" (click)="removerLotacao(item)"><img class="lixo" src="assets/img/trash.svg" alt="Excluir"></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btn-paginacao" *ngIf="isNotEmpty(empresasLotacao)">
            <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
        </div>
    </div>
</div>

<div class="btn-rodape-acoes space-up">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>