<app-bloqueio></app-bloqueio>

<div>

    <div class="titulo-pagina-intermediaria">
        <div>{{'app_rst_labels_nome' | recurso}}: {{usuario.nome}}</div>
        <div>{{'app_rst_labels_login_cpf' | recurso}}: {{loginFormatado}}</div>
    </div>

    <div class="row">
        <div class="form-group col-md-4 col-lg-3">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('cadastrar')" [titulo]="'Cadastro Básico'" [classCardCor]="'card-laranja'" [classImgFront]="'img_dadosbasico'" [classImgBack]="'img_dadosbasico'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="temPerfilEmpresa">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('empresa')" [titulo]="'Empresa'" [classCardCor]="'card-musgo'" [classImgFront]="'img_empresa'" [classImgBack]="'img_empresa'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="temPerfilSindicato">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('sindicato')" [titulo]="'Sindicato'" [classCardCor]="'card-roxo'" [classImgFront]="'img_sindicato'" [classImgBack]="'img_sindicato'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="temPerfilDR">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('departamentoregional')" [titulo]="'Departamento Regional'" [classCardCor]="'card-azul'" [classImgFront]="'img_departamento'" [classImgBack]="'img_departamento'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="temPerfilUnidade">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('unidadesesi')" [titulo]="'Unidade SESI'" [classCardCor]="'card-roxo'" [classImgFront]="'img_lotacao'" [classImgBack]="'img_lotacao'"></app-card-tela-intermediaria>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <button type="button" class="btn btn-secondary btn-cadastro" (click)='voltar()'>Voltar</button>
        </div>
    </div>
</div>
