<ng2-toasty></ng2-toasty>

<div *ngIf="existeList()">
    <button *ngIf="!modoConsulta" class="btn-img" (click)="adicionarUnidade()">
                <div class="modal-link-text">Adicionar nova Unidade/Obra</div></button>
</div>
<div *ngIf="!existeList()">
    <div class="img-modal-btn row">
        <button *ngIf="!modoConsulta" class="btn-img no-focus col-md-12" (click)="adicionarUnidade()">
                    <div class="col-md-12"><img class=" modal-btn-img-link" src="assets/img/add.svg" alt="Adicionar"></div>
                    <div class="col-md-12 modal-link-text">Adicionar Unidade/Obra
                    </div>
                </button>
    </div>
</div>

<ng-template #modalUnidade let-close="close" let-fechar="dismiss">
    <div class="modal-header" [ngClass]="{ divDis : modoConsulta }">
        <p class="modal-title">{{ 'app_rst_labels_unidade_obra' | recurso }}</p>

    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="form-group col-sm-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_codigo_cei' | recurso }}" maxlength="12" name="cei" [(ngModel)]="model.cei">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input required mdInput placeholder="{{ 'app_rst_labels_descricao' | recurso }}" maxlength="100" name="descricao" [(ngModel)]="model.descricao">
                    </md-input-container>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso }}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>

    </div>
</ng-template>