@import '../res-home/res-home.component.scss';
.container-fluid {
    margin-top: 16px;
}

.row-medicamentos-alergias {
    margin-top: 32px;
}

.row-timeline {
    margin-top: 32px;
}

.btn-primary {
    background-color: #8f206c;
    border-color: #8f206c;
    //margin-left: 150%;
    margin-bottom: 1em;
    cursor: pointer;
}


.card-res {
   .row-card-content {
       &.card-medicamentos,
         &.card-alergias {
        .row-card-content {
            min-height: 100px;
            height: 150px;
        }
        .row-conteudo {
            margin-top: 8px;
        }
    }
    }
}

.card-exames {
    margin-bottom:10px;
}
