<div class='container-fluid'>
    <app-bloqueio [processado]='false'></app-bloqueio>
    <div class='row'>
        <div class='col-md-4 card-single card-idade'>
            <div class='row'>
                <div class='col-12 col-info-label'>
                    <label> Idade </label>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-info-valor' style="margin-bottom: 6px">
                    <label>{{ idade ||'--'}}</label>
                </div>
                <small style="margin-left: 5px; margin-bottom: 10px"></small>
            </div>
        </div>
        <div class='col-md-4 card-single card-altura'>
            <div class='row'>
                <div class='col-12 col-info-label'>
                    <label>Altura ({{altura?.unidade}})</label>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-info-valor'>
                    <label>{{ altura?.valor ||'--'}}</label>
                </div>
                <small style="margin-left: 5px">{{ disclaimerAferimento }} {{dataRegistro}}</small>
            </div>
        </div>

        <div class='col-md-4 card-single card-circunferencia'>
            <div class='row'>
                <div class='col-12 col-info-label'>
                    <label>Peso ({{peso?.unidade}})</label>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 col-info-valor'>
                    <label>{{ peso?.valor || '--'}}</label>
                </div>
                <small style="margin-left: 5px">{{ disclaimerAferimento }} {{dataRegistro}}</small>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4 col-sm-6 col-xs-12 card-res'>
            <div class='row row-card-content'>
                <div class='col-12'>
                    <div class='row row-titulo'>
                        <div class='col-6 col-titulo'>
                            Pressão Arterial
                        </div>
                    </div>
                    <div class='row row-chart' *ngIf='!this.semDadosPressaoSuficiente'>
                        <div class='col-12' *ngIf='graficoPressaoSanguinea'>
                            <canvas baseChart [datasets]=' graficoPressaoSanguinea.dados'
                                    [colors]='graficoPressaoSanguinea.cores' [labels]='graficoPressaoSanguinea.labels'
                                    [options]='graficoPressaoSanguinea.opcoes' style='min-height:300px' height='300px'
                                    chartType="bar"></canvas>
                            <small>Fonte: Sociedade Brasileira de Hipertensão</small>
                        </div>
                    </div>
                    <div class='row row-chart' *ngIf='this.semDadosPressaoSuficiente'>
                        <div class='col-12'>
                            Registro não encontrado.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6 col-xs-12 card-res'>
            <div class='row row-card-content'>
                <div class='col-12'>
                    <div class='row row-titulo'>
                        <div class='col-6 col-titulo'>
                            IMC
                        </div>
                    </div>
                    <div class='row row-chart row-imc text-center'>
                        <div class='col-12 text-left' *ngIf='this.imc == null'>
                            Registro não encontrado.
                        </div>
                        <div *ngIf='!(this.imc == null)' class='col-6 col-md-6 col-lg-8 col-info-imc text-left'>
                            <div class='row row-info-imc'>
                                <div class='col-2 col-valor-imc' style="margin-bottom: 0">
                                    {{ imc?.valor }}
                                </div>
                                <div class='col-7 col-unidade-imc'>
                                    {{imc?.unidade }}
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-12 col-imc-progress text-center'>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-obeso"
                                             [class.selecionado]='imc?.valor>= 30' role="progressbar"
                                             style="width:100%; height:25%;">
                                            <label class='progress-label'> > ou = a 30 </label>
                                            <label class='progress-label'> Obeso </label>
                                        </div>
                                        <div class="progress-bar progress-bar-sobrepeso"
                                             [class.selecionado]='24.9 < imc?.valor && imc?.valor <= 29.9'
                                             role="progressbar" style="width:100%; height: 25%;">
                                            <label class='progress-label'> 24,9 - 29.9 </label>
                                            <label class='progress-label'> Sobrepeso </label>
                                        </div>
                                        <div class="progress-bar progress-bar-normal"
                                             [class.selecionado]='18.5 < imc?.valor && imc?.valor <= 24.9'
                                             role="progressbar" style="width:100%; height: 25%;">
                                            <label class='progress-label'> 18,5 - 24,9 </label>
                                            <label class='progress-label'> Normal </label>
                                        </div>
                                        <div class="progress-bar progress-bar-abaixo-peso"
                                             [class.selecionado]='imc?.valor <= 18.5' role="progressbar"
                                             style="width:100%; height: 25%;">
                                            <label class='progress-label'> &lt; 18,5</label>
                                            <label class='progress-label'> Abaixo do peso </label>
                                        </div>
                                    </div>
                                </div>
                                <small style="margin-top: 5px;">Fonte: Associação Brasileira para Estudo da Obesidade e da Síndrome Metabólica</small>
                            </div>
                        </div>
                        <div
                            class='col-6 col-md-6 col-lg-4 col-imagem-corpo {{ getClasseImagemCorpo() }} {{getClasseNivelIMC()}}'>

                        </div>
                    </div>
                </div>
                <small style="margin-left: 5px">{{ disclaimerAferimento }} {{dataRegistro}} </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-6 col-xs-12 card-res '>
            <div class='row row-card-content '>
                <div class='col-12 '>
                    <div class='row row-titulo '>
                        <div class='col-6 col-titulo ' style="font-size: 15px;">
                            Circunferência Abdominal
                        </div>
                    </div>
                    <div class='row row-chart' *ngIf="!this.semDadosCircunferenciaAbdominalSuficiente">
                        <div class='col-12 ' *ngIf="this.graficoCircunferenciaAbdominal">
                            <canvas baseChart [datasets]='graficoCircunferenciaAbdominal.dados'
                                    [labels]='graficoCircunferenciaAbdominal.labels'
                                    [colors]='graficoCircunferenciaAbdominal.cores'
                                    [options]='graficoCircunferenciaAbdominal.opcoes' style='min-height:300px'
                                    height='300px' chartType="line"></canvas>
                        </div>
                        <small style="margin-top: 5px;">Referência: {{ referenciaAbdominal() }}</small>
                        <small style="margin-top: 5px;">Fonte: Associação Brasileira para Estudo da Obesidade e da Síndrome Metabólica</small>
                    </div>
                    <div class='row row-chart ' *ngIf='this.semDadosPesoSuficiente '>
                        <div class='col-12 '>
                            Registro não encontrado.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row row-medicamentos-alergias '>
        <div class='col-md-6 col-sm-12 card-res card-vacinas card-exames '>
            <div class='row row-card-content '>
                <div class='col-12 '>
                    <div class='row row-titulo '>
                        <div class='col-12 col-titulo ' style="font-size: 15px;">
                            Vacinas autodeclaradas
                        </div>
                    </div>
                    <div class='row row-conteudo ' style="
                    width: 105%;
    padding: 0px 0px 0px 22px;
                ">
                            <div class='row row-conteudo ' style="
                            width: 100%;
                        ">
                                    <div class='col-12 row-chart ' *ngIf='vacinasAutodeclaradas?.length> 0'>
                                                    <div class='row' *ngFor='let vacina of vacinasAutodeclaradas'>
                                                        <div class='col-6'> {{vacina.nome}}</div>
                                                        <div class='col-6 text-right'> {{vacina.dataVacinacao | date: 'dd/MM/yyyy'}}</div>
                                                    </div>
                                        </div>
                                        <div style="padding-left: 30px !important" class='col-12 row-chart' *ngIf='vacinasAutodeclaradas?.length == 0 && vacinasAutodeclaradas?.length < 1'>
                                            {{'app_rst_labels_nenhuma_vacina_informada' | recurso}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-12 card-res card-vacinas card-exames'>
                            <div class='row row-card-content'>
                                <div class='col-12'>
                                    <div class='row row-titulo'>
                                        <div class='col-12 col-titulo' style="font-size: 15px;">
                                            Imunizações
                                        </div>
                                    </div>
                                    <div class='row row-conteudo ' style="
                        width: 105%;
        padding: 0px 0px 0px 22px;
                    ">
                                <div class='row row-conteudo ' style="
                                width: 100%;
                            ">
                                        <div class='col-12 row-chart ' *ngIf='imunizacao?.length> 0'>
                                                        <div class='row' *ngFor='let item of imunizacao'>
                                                            <div class='col-6'> {{item.nome}}</div>
                                                            <div class='col-6 text-right'> {{item?.data | date: 'dd/MM/yyyy'}}</div>
                                                        </div>
                                            </div>
                                            <div style="padding-left: 30px !important" class='col-12 row-chart' *ngIf='vacinas?.length == 0 && imunizacao.length == 0'>
                                                {{'app_rst_labels_nenhuma_vacina_informada' | recurso}}
                                            </div>
                                        </div>
                                    </div>
                                            <!--<div class='col-12 row-chart' *ngIf='vacinasAutodeclaradas?.length == 0 && vacinasAutodeclaradas?.length < 1 '>
                                                {{'app_rst_labels_nenhuma_vacina_informada' | recurso}}
                                            </div>-->
                                </div>
                            </div>
                        </div>
                    <div class='col-md-6 col-sm-12 card-res card-alergias card-exames space-up'>
                        <div class='row row-card-content'>
                            <div class='col-12'>
                                <div class='row row-titulo'>
                                    <div class='col-12 col-titulo' style="font-size: 15px;">
                                        {{'app_rst_labels_alergias_auto_declaras_minha_saude' | recurso}}
                                    </div>
                                </div>

                                <div class='row row-conteudo'>
                                    <div class='col-12 row-chart' *ngIf='alergias?.length > 0'>
                                        <div class='row' *ngFor='let alergia of alergias'>
                                            <div class='col-12'> {{alergia}}</div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class='col-12'>
                                                <small>{{'app_rst_labels_ultima_fco' | recurso}}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-12 row-chart' *ngIf='trabalhador?.descricaoAlergias?.length > 0'>
                                        <div class='row'>
                                            <div class='col-12 white-space'>{{trabalhador.descricaoAlergias}}</div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class='col-12'>
                                                <small>{{'app_rst_labels_fonte_trabalhador' | recurso}}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-12 row-chart' *ngIf='alergias?.length == 0 && trabalhador?.descricaoAlergias?.length < 1'>
                                        {{'app_rst_labels_nenhuma_alergia_informada' | recurso}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-12 card-res card-medicamentos card-exames space-up'>
                        <div class='row row-card-content'>
                            <div class='col-12'>
                                <div class='row row-titulo'>
                                    <div class='col-6 col-titulo' style="font-size: 15px;">
                                        {{'app_rst_labels_medicamentos_auto_declarados_minha_saude' | recurso}}
                                    </div>
                                </div>

                                <div class='row row-conteudo'>
                                    <div class='col-12 row-chart' *ngIf='medicamentos?.length > 0'>
                                        <div class='row' *ngFor='let medicamento of medicamentos'>
                                            <div class='col-12'> {{medicamento}}</div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class='col-12'>
                                                <small>{{'app_rst_labels_ultima_fco' | recurso}}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-12 row-chart' *ngIf='trabalhador?.descricaoMedicamentos?.length > 0'>
                                        <div class='row'>
                                            <div class='col-12 white-space'>{{trabalhador.descricaoMedicamentos}}</div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;">
                                            <div class='col-12'>
                                                <small>{{'app_rst_labels_fonte_trabalhador' | recurso}}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-12 row-chart' *ngIf='medicamentos?.length == 0 && trabalhador?.descricaoMedicamentos?.length < 1'>
                                        {{'app_rst_labels_nenhum_medicamento_informado' | recurso}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    <div class="row center row-top-16 row-periodo">
        <div class="col-12">
            <div class="periodos btn-group">
                <label *ngFor="let periodo of periodos" class="btn btn-success"   (click)="$event.stopPropagation();atualizarPeriodo(periodo);"  uncheckable>{{periodo}}</label>
            </div>
        </div>
    </div>

    <div class="row row-timeline">

                    <div class='col-12 card-res '>
                        <div class='row row-card-content'>
                            <div class='col-12'>
                                <div class='row row-titulo '>
                                    <div class='col-6 col-titulo'>
                                        Histórico
                                    </div>
                                </div>
                                <div id="timeline" class='row row-chart' *ngIf='encontrosTimeline'>
                                    <div class='col-12'>
                                        <app-timeline-item *ngFor="let elementoHistorico of paginaTimeline" [filtrarInformacoes]="filtrarInformacoes" [form]="form"
                                            [elementoHistorico]='elementoHistorico'>
                                        </app-timeline-item>
                                    </div>
                                </div>
                                <div class='row row-chart' *ngIf="encontrosTimeline" style='margin-top:8px'>
                                    <div class='col-12' style='display:flex;flex-flow:row-reverse'>
                                        <pagination nextText='Próxima' previousText='Anterior' [totalItems]="this.numeroEncontros" [itemsPerPage]='this.tamanhoPagina'
                                            [(ngModel)]="this.paginaAtual" (pageChanged)="navegar($event)"></pagination>
                                    </div>
                                </div>
                                <div class='row row-chart' *ngIf='!encontrosTimeline'>
                                    <div class='col-12'>
                                        <label *ngIf='carregandoTimeline'> Buscando dados históricos</label>
                                        <label *ngIf='!carregandoTimeline'> Nenhum dado encontrado </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
