<div *ngIf="existeEmail()">
    <button *ngIf="!modoConsulta" class="btn-img" (click)="adicionarEmail()">
            <div class="modal-link-text">Adicionar novo email</div></button>
</div>
<div *ngIf="!existeEmail()">
    <div class="img-modal-btn row">
        <button *ngIf="!modoConsulta" class="btn-img no-focus col-md-12" (click)="adicionarEmail()">
                <div class="col-md-12"><img class=" modal-btn-img-link" src="assets/img/add.svg" alt="Adicionar"></div>
                <div class="col-md-12 modal-link-text">Adicionar Email
                </div>
            </button>
    </div>
</div>

<ng-template #modalEmail let-close="close" let-fechar="dismiss">
    <div class="modal-header">
        <p class="modal-title">E-mail</p>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="form-group col-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_endereco' | recurso }}" type="email" id="descricao" name="descricao" class="form-control" [(ngModel)]="model.descricao" />
                    </md-input-container>
                    <!-- form-control-danger -->
                    <!-- #descricao="ngModel" -->
                    <!-- [ngClass]="{'has-danger' : (descricao.invalid && (descricao.dirty || descricao.touched)) }" -->
                    <!-- pattern="[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-zàáâãéêíóôõúüç0-9]+[A-Za-zàáâãéêíóôõúüç0-9-]*([A-Za-zàáâãéêíóôõúüç0-9])(\.[A-Za-z]+)*(\.[A-Za-z]{2,})$" -->
                    <!-- <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
                        <div *ngIf="descricao.errors.pattern" class="form-control-feedback">
                            <div ng-message="pattern">{{ 'app_rst_usuario_email_invalido' | recurso }}</div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="form-check col-md-12">
                    <md-checkbox [(ngModel)]="model.notificacao" class="form-check-label col-md-6 form-check-input" aria-label="Receber Notificação">
                        Receber Notificação
                    </md-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso }}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
    </div>
</ng-template>