<div *ngIf="existeList()">
    <button *ngIf="!modoConsulta" class="btn-img" (click)="adicionarEndereco()">
                <div class="modal-link-text">Adicionar novo Endereço</div></button>
</div>
<div *ngIf="!existeList()">
    <div class="img-modal-btn row">
        <button *ngIf="!modoConsulta" class="btn-img no-focus col-md-12" (click)="adicionarEndereco()">
                    <div class="col-md-12"><img class=" modal-btn-img-link" src="assets/img/add.svg" alt="Adicionar"></div>
                    <div class="col-md-12 modal-link-text">Adicionar Endereço
                    </div>
                </button>
    </div>
</div>

<ng-template #modalEndereco let-close="close" let-fechar="dismiss">
    <div class="modal-header" [ngClass]="{ divDis : modoConsulta }">
        <p class="modal-title">{{ 'app_rst_labels_endereco' | recurso }}</p>

    </div>
    <div class="modal-body" [ngClass]="{ divDis : modoConsulta }">
        <div class="container">
            <div class="row">
                <div class="form-group col-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_endereco' | recurso }}" [disabled]="modoConsulta" type="text" maxlength="100" class="form-control" [(ngModel)]="model.descricao" name="endereco" id="endereco" required appFormularioCamposErro/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_numero' | recurso }}" [disabled]="modoConsulta" type="text" maxlength="5" class="form-control" [(ngModel)]="model.numero" name="numero" id="numero" appFormularioCamposErro/>
                    </md-input-container>
                </div>
                <div class="form-group col-sm-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_complemento' | recurso }}" [disabled]="modoConsulta" type="text" maxlength="100" class="form-control" [(ngModel)]="model.complemento" name="complemento" id="complemento" appFormularioCamposErro/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_bairro' | recurso }}" [disabled]="modoConsulta" type="text" maxlength="50" class="form-control" [(ngModel)]="model.bairro" name="bairro" id="bairro" appFormularioCamposErro/>
                    </md-input-container>
                </div>
                <div class="form-group col-sm-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{ 'app_rst_labels_CEP' | recurso }}" [disabled]="modoConsulta" type="text" maxlength="10" [textMask]="{mask: mascaraCep, guide: false}" class="form-control" [(ngModel)]="model.cep" name="cep" id="cep" appFormularioCamposErro/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="md-container">
                        <md-select placeholder="{{ 'app_rst_labels_estado' | recurso }}" [disabled]="modoConsulta" [(ngModel)]="idEstadoSelecionado" id="estado" appFormularioCamposErro (change)="buscarMunicipio(idEstadoSelecionado)">
                            <md-option>
                                <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                            </md-option>
                            <md-option *ngFor='let estado of estados' [value]="estado.id">
                                {{estado.descricao}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <ng-select required [disabled]="!estadoSelecionado || modoConsulta" [options]="municipios" allowClear=true [(ngModel)]="idMunicipioSelecionado" maxlength="50" notFoundMsg="{{ 'app_rst_nenhum_registro_encontrado' | recurso }}">
                    </ng-select>
                    <span class="floating-label">Município</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="md-container">
                        <md-select required [(ngModel)]="model.tipoEndereco" id="tipoEndereco" placeholder="Tipo" name="tipoEndereco" [disabled]="modoConsulta" [(ngModel)]="model.tipoEndereco">
                            <md-option>
                                <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                            </md-option>
                            <md-option *ngFor="let key of keysTipoEndereco" [value]="key">
                                {{tiposEndereco[key]}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf=!this.modoConsulta type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso }}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
    </div>
</ng-template>