// Importação do tema angular material
@import '~@angular/material/theming';

// Inclusão de estilos não-tema para o núcleo do projeto.
@include mat-core();

// Definição do tema
$primario: mat-palette($mat-grey);
$acentuar: mat-palette($mat-grey, A200, A100, A400);
$avisos: mat-palette($mat-grey);

$tema: mat-light-theme($primario, $acentuar, $avisos);

// Inclua todos os estilos de tema para os componentes.
@include angular-material-theme($tema);
