##=============================================================================
## Macro library to generate components from a field descriptor
##=============================================================================

## ----------------------------------------------------------------------------
## Generates a component based on the field and screen types
## ----------------------------------------------------------------------------
#macro( writeParams $params )
	
#end