
<div class="container">
  <div class="row">
    <div class="form-group col-xs-12 col-sm-6">
      <div class="md-container">
        <md-select required [disabled]="modoConsulta" placeholder="{{ 'app_rst_labels_tipo' | recurso }}">
            <md-option>
              <option value="">{{ 'app_rst_labels_selecione' | recurso }}</option>
          </md-option>
        </md-select>
      </div>
    </div>

    <div class="form-group col-xs-12 col-sm-3">
        <md-input-container [floatPlaceholder]="true">
            <input mdInput placeholder="{{ 'app_rst_labels_quantidade' | recurso }}" type="number" id="quantidade_veiculo_passeio" name="quantidade" class="form-control" />
        </md-input-container>
    </div>
  </div>

  <div class="row tabela">
    <div class="header-tabela">
        <span class="column-label">
          Tipo de atendimento
        </span>
        <span class="column-quantidade" >
          Quantidade
        </span>
    </div>

    <div class="content-tabela">
      <div class="row-content-tabela">
        <span class="column-label">
          Espirometrica
        </span>
        <span class="column-quantidade" >
          <input type="text" name="quantidade" id="quantidade" maxlength="5" inputmode="numeric" pattern="[0-9]*" digitOnly>
        </span>
      </div>
      <div class="row-content-tabela">
        <span class="column-label">
          RX
        </span>
        <span class="column-quantidade" >
          <input type="number" name="quantidade"/>
        </span>
      </div>

      <div class="row-content-tabela">
        <span class="column-label">
          Consulta
        </span>
        <span class="column-quantidade" >
          <input type="number" name="quantidade"/>
        </span>
      </div>
    </div>
  </div>
</div>