
<div class="container">
  <div class="row">
    <div class="form-group col-xs-12 col-sm-6">
      <div class="md-container">
        <md-select required [disabled]="modoConsulta" placeholder="{{ 'app_rst_labels_tipo' | recurso }}">
            <md-option>
              <option value="">{{ 'app_rst_labels_selecione' | recurso }}</option>
          </md-option>
        </md-select>
      </div>
    </div>

    <div class="form-group col-xs-12 col-sm-3">
        <md-input-container [floatPlaceholder]="true">
            <input mdInput placeholder="{{ 'app_rst_labels_quantidade' | recurso }}" type="number" id="quantidade_veiculo_passeio" name="quantidade" class="form-control" />
        </md-input-container>
    </div>
  </div>

  <div class="row tabela">
    <p class="label-item-tabela">Espirometrica</p>
    <input class="input-item-tabela" type="number" name="quantidade"/>
  </div>
</div>