<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form novalidate [formGroup]="indicadorQuestionarioForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{'app_rst_labels_descricao' | recurso}}" type="text" maxlength="160" class="form-control" formControlName="descricao" name="descricao" id="descricao" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <textarea mdInput rows="4" placeholder="{{'app_rst_labels_orientacao' | recurso}}" type="text" maxlength="250" class="form-control" formControlName="orientacao" name="orientacao" id="orientacao"></textarea>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <textarea mdInput rows="4" placeholder="{{'app_rst_labels_incentivo' | recurso}}" type="text" maxlength="250" class="form-control" formControlName="incentivo" name="incentivo" id="incentivo"></textarea>
                    </md-input-container>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="btn-rodape-acoes space-up">
    <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!this.modoConsulta" (click)="salvar()">{{'app_rst_btn_salvar' | recurso}}</button>
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>