.carregado {
    visibility: hidden;
}

.bloqueio {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#bloqueio {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.70;
    position: fixed;
    background: #666666;
    display: inline-block;
}

.carregado #carregando {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#carregando {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3fc2f8;
    -webkit-animation: bloqueio-efeito 2s linear infinite;
    animation: bloqueio-efeito 2s linear infinite;
    z-index: 1001;
}

#carregando:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fd5e37;
    -webkit-animation: bloqueio-efeito 3s linear infinite;
    animation: bloqueio-efeito 3s linear infinite;
}

#carregando:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8f206c;
    -webkit-animation: bloqueio-efeito 1.5s linear infinite;
    animation: bloqueio-efeito 1.5s linear infinite;
}

.carregado #bloqueio .carregando.bloqueio-esquerdo {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#bloqueio .carregando.bloqueio-esquerdo {
    left: 0;
}

#bloqueio .carregando {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.carregado #bloqueio .carregando.bloqueio-direito {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#bloqueio .carregando.bloqueio-direito {
    right: 0;
}

@-webkit-keyframes bloqueio-efeito {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes bloqueio-efeito {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}