<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    Vacinas Autodeclaradas
</p>

<div class="row space-up">
    <div class="form-group col-4">
        <div class="container-form">
            <div style="margin-bottom: 0px" class="container-subtitulo text-center">
                <p>{{this.dataAtualCard}}</p>
            </div>
            <my-date-picker id="calendarioAuto" [options]="myDatePickerOptions" locale="pt-br"></my-date-picker>
            <div class="listar-vacinas row">
                <div *ngFor="let item of dosesDoMes" class="col-12">
                    <span class="dot"></span> {{item?.dataVacinacao | date: 'dd' }} - {{item?.nome }}
                </div>

            </div>
        </div>

    </div>
    <div class="container-form col-8" style="
    margin-bottom: 15px;
">
        <div class="container-subtitulo" style="margin-bottom: 0px">
            <p>{{'app_rst_labels_adicionar_vacina' | recurso}}</p>
        </div>
        <div *ngIf="doses?.length <= 0 " style="padding-top: 15px">
            <p>Não há próximas doses agendadas</p>
        </div>
        <table class="table table-responsive" *ngIf="doses?.length > 0">
            <thead>
            <tr>
                <th class="text-center" style="
                                    font-weight: bold;
                                ">
                    <span class="label">Data</span>
                </th>
                <th style="
                             font-weight: bold;
                                ">
                    <span class="label">Vacina</span>
                </th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let item of doses; let i = index" >
                <td class="col-quebra text-center">&nbsp;{{item.dataVacinacao | date: 'dd/MM/yyyy'}}</td>
                <td style="text-transform: capitalize;" class="col-quebra text-left">&nbsp;{{item.nome}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="btn-filter-pesquisar space-up">
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
    <button type="button" class="btn-rodape btn btn-primary btn-cadastro" (click)="verHistorico();">{{ 'app_rst_btn_verHistorico' | recurso }}</button>
    <button type="button" class="btn-rodape btn btn-primary btn-cadastro" (click)="novaVacina();">{{ 'app_rst_btn_novaVacina' | recurso }}</button>

</div>




<!--
<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn-rodape btn btn-primary btn-cadastro" (click)="verHistorico();">{{ 'app_rst_btn_verHistorico' | recurso }}</button>
</div> -->

