<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{'app_rst_usuario_empresa_empresas_associadas_title' | recurso}}
</p>

<div class="container-form" *ngIf="!isBarramento">
    <div class="row">
        <div class="form-group col-sm-8">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" name="razaoSocial" [(ngModel)]="filtro.razaoSocial" class="form-control" id="razaoSocial" maxlength="160" #razaoSocialFiltro="ngModel">
            </md-input-container>
        </div>
        <div class="form-group col-sm-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" [textMask]="{mask: mascaraCnpj, guide: false}" name="cnpj" [(ngModel)]="filtro.cnpj" class="form-control" id="cnpj" #cnpjFiltro="ngModel">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-lg-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" name="nomeFantasia" [(ngModel)]="filtro.nomeFantasia" class="form-control" id="nomeFantasia" maxlength="160" #nomeFantasia="ngModel">
            </md-input-container>
        </div>
    </div>
</div>

<div class="btn-filter-pesquisar space-up" *ngIf="!isSomenteTrabalhador() && isBarramento">
    <button class="btn btn-primary" (click)="pesquisar()">{{'app_rst_btn_pesquisar' | recurso}}</button>
    <button class="btn btn-primary" *ngIf="!modoConsulta" (click)="novo()">{{'app_rst_btn_novo' | recurso}}</button>
    <button class="btn btn-secondary" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>

<div>
    <app-usuario-barramento [usuario]="usuario"></app-usuario-barramento>
</div>


<div class="container-form space-up" *ngIf="hasGestorEmpresa">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_empresa_empresas_adicionados' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresasGEEM)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresasGEEM)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresasGEEM">
                        <td class="col-quebra">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.empresa.cnpj | cnpjPipe }}</td>
                        <td class="text-center">
                            <button *ngIf="!modoConsulta" class="btn-link" (click)="removerEmpresa(item)"><img class="lixo"
                                                                                                           src="assets/img/trash.svg"
                                                                                                           alt="Excluir">
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoGEEM.textPrimeiro" [lastText]="paginacaoGEEM.textUltimo" [nextText]="paginacaoGEEM.textProximo" [previousText]="paginacaoGEEM.textAnterior" [totalItems]="paginacaoGEEM.totalItens" [(ngModel)]="paginacaoGEEM.pagina" [itemsPerPage]="paginacaoGEEM.qtdRegistro"
                    (numPages)="paginacaoGEEM.numPages = $event" (pageChanged)="pageChanged($event, 'GEEM')" [maxSize]="paginacaoGEEM.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>

<div class="container-form space-up" *ngIf="hasGestorEmpresaMaster">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_empresa_empresas_adicionados_master' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresasGEEMMaster)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresasGEEMMaster)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresasGEEMMaster">
                        <td class="col-quebra">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.empresa.cnpj | cnpjPipe }}</td>
                        <td class="text-center">
                            <button *ngIf="!modoConsulta" class="btn-link" (click)="removerEmpresa(item)"><img class="lixo"
                                                                                                           src="assets/img/trash.svg"
                                                                                                           alt="Excluir">
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoGEEMMaster.textPrimeiro" [lastText]="paginacaoGEEMMaster.textUltimo" [nextText]="paginacaoGEEMMaster.textProximo" [previousText]="paginacaoGEEMMaster.textAnterior" [totalItems]="paginacaoGEEMMaster.totalItens" [(ngModel)]="paginacaoGEEMMaster.pagina"
                    [itemsPerPage]="paginacaoGEEMMaster.qtdRegistro" (numPages)="paginacaoGEEMMaster.numPages = $event" (pageChanged)="pageChanged($event, 'GEEMM')" [maxSize]="paginacaoGEEMMaster.maxSize" class="pagination-sm justify-content-center" [align]="true"
                    [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>

<div class="container-form space-up" *ngIf="hasProfissionalSaude">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_empresa_empresas_adicionados_profissional' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresasPFS)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresasPFS)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresasPFS">
                        <td class="col-quebra">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.empresa.cnpj | cnpjPipe }}</td>
                        <td class="text-center">
                            <button *ngIf="!modoConsulta" class="btn-link" (click)="removerEmpresa(item)"><img class="lixo"
                                                                                                           src="assets/img/trash.svg"
                                                                                                           alt="Excluir">
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoPFS.textPrimeiro" [lastText]="paginacaoPFS.textUltimo" [nextText]="paginacaoPFS.textProximo" [previousText]="paginacaoPFS.textAnterior" [totalItems]="paginacaoPFS.totalItens" [(ngModel)]="paginacaoPFS.pagina" [itemsPerPage]="paginacaoPFS.qtdRegistro"
                    (numPages)="paginacaoPFS.numPages = $event" (pageChanged)="pageChanged($event, 'PFS')" [maxSize]="paginacaoPFS.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>


<div class="container-form space-up" *ngIf="hasRecursoHumano">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_empresa_empresas_recursos_humanos' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresasRH)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresasRH)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresasRH">
                        <td class="col-quebra" *ngIf="item.empresa.razaoSocial.length">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra" *ngIf="item.empresa.nomeFantasia.length">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra" *ngIf="item.empresa.cnpj.length">{{item.empresa.cnpj | cnpjPipe }}</td>
                        <td class="text-center">
                            <button *ngIf="!modoConsulta" class="btn-link" (click)="removerEmpresa(item)"><img class="lixo"
                                                                                                           src="assets/img/trash.svg"
                                                                                                           alt="Excluir">
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoRH.textPrimeiro" [lastText]="paginacaoRH.textUltimo" [nextText]="paginacaoRH.textProximo" [previousText]="paginacaoRH.textAnterior" [totalItems]="paginacaoRH.totalItens" [(ngModel)]="paginacaoRH.pagina" [itemsPerPage]="paginacaoRH.qtdRegistro"
                    (numPages)="paginacaoRH.numPages = $event" (pageChanged)="pageChanged($event, 'RH')" [maxSize]="paginacaoRH.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>

<div class="container-form space-up" *ngIf="hasSegurancaTrabalho">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_empresa_empresas_seguranca_do_trabalho' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresasST)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresasST)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                        <th class="label text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresasST">
                        <td class="col-quebra">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.empresa.cnpj | cnpjPipe }}</td>
                        <td class="text-center">
                            <button *ngIf="!modoConsulta" class="btn-link" (click)="removerEmpresa(item)"><img class="lixo"
                                                                                                           src="assets/img/trash.svg"
                                                                                                           alt="Excluir">
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoST.textPrimeiro" [lastText]="paginacaoST.textUltimo" [nextText]="paginacaoST.textProximo" [previousText]="paginacaoST.textAnterior" [totalItems]="paginacaoST.totalItens" [(ngModel)]="paginacaoST.pagina" [itemsPerPage]="paginacaoST.qtdRegistro"
                    (numPages)="paginacaoST.numPages = $event" (pageChanged)="pageChanged($event, 'ST')" [maxSize]="paginacaoST.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>

<div class="container-form space-up" *ngIf="hasTrabalhador">
    <div class="container-subtitulo">
        <p>{{'app_rst_usuario_empresa_empresas_trabalhador' | recurso}}</p>
    </div>
    <div *ngIf="isEmpty(listaEmpresasTRA)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresasTRA)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresasTRA">
                        <td class="col-quebra">{{item.empresa.razaoSocial}}</td>
                        <td class="col-quebra">{{item.empresa.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.empresa.cnpj | cnpjPipe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="btn-rodape-acoes space-up" *ngIf="isSomenteTrabalhador()">
    <button class="btn btn-secondary" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>
