<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{'app_rst_usuario_empresa_empresas_associadas_title' | recurso}}
</p>

<div class="container-form" *ngIf="!isBarramento">
    <div class="row">
        <div class="form-group col-sm-8">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" name="razaoSocial" [(ngModel)]="filtro.razaoSocial" class="form-control" id="razaoSocial" maxlength="160" #razaoSocialFiltro="ngModel">
            </md-input-container>
        </div>
        <div class="form-group col-sm-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" [textMask]="{mask: mascaraCnpj, guide: false}" name="cnpj" [(ngModel)]="filtro.cnpj" class="form-control" id="cnpj" #cnpjFiltro="ngModel">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-lg-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" name="nomeFantasia" [(ngModel)]="filtro.nomeFantasia" class="form-control" id="nomeFantasia" maxlength="160" #nomeFantasia="ngModel">
            </md-input-container>
        </div>
    </div>
</div>

<div class="btn-filter-pesquisar space-up" *ngIf="!isSomenteTrabalhador() && !isBarramento">
    <button class="btn btn-primary" (click)="pesquisar()">{{'app_rst_btn_pesquisar' | recurso}}</button>
    <button class="btn btn-primary" *ngIf="!modoConsulta" (click)="novo()">{{'app_rst_btn_novo' | recurso}}</button>
    <button class="btn btn-secondary" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>

<div *ngIf="isBarramento">
    <app-usuario-barramento [usuario]="usuario"></app-usuario-barramento>
</div>

<app-empresas-associadas *ngIf="hasGestorEmpresa" [titulo]="'app_rst_usuario_empresa_empresas_adicionados' | recurso" [listaEmpresas]="listaEmpresasGEEM" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" [temPaginacao]="true" [paginacao]="paginacaoGEEM" (onPageChanged)="pageChanged($event)" [perfil]="'GEEM'"></app-empresas-associadas>

<app-empresas-associadas *ngIf="hasGestorEmpresaMaster" [titulo]="'app_rst_usuario_empresa_empresas_adicionados_master' | recurso" [listaEmpresas]="listaEmpresasGEEMMaster" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" [temPaginacao]="true" [paginacao]="paginacaoGEEMMaster" (onPageChanged)="pageChanged($event)" [perfil]="'GEEMM'"></app-empresas-associadas>

<app-empresas-associadas *ngIf="hasProfissionalSaude" [titulo]="'app_rst_usuario_empresa_empresas_adicionados_profissional' | recurso" [listaEmpresas]="listaEmpresasPFS" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" [temPaginacao]="true" [paginacao]="paginacaoPFS" (onPageChanged)="pageChanged($event)" [perfil]="'PFS'"></app-empresas-associadas>

<app-empresas-associadas *ngIf="hasRecursoHumano" [titulo]="'app_rst_usuario_empresa_empresas_recursos_humanos' | recurso" [listaEmpresas]="listaEmpresasRH" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" [temPaginacao]="true" [paginacao]="paginacaoRH" (onPageChanged)="pageChanged($event)" [perfil]="'RH'"></app-empresas-associadas>

<app-empresas-associadas *ngIf="hasSegurancaTrabalho" [titulo]="'app_rst_usuario_empresa_empresas_seguranca_do_trabalho' | recurso" [listaEmpresas]="listaEmpresasST" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" [temPaginacao]="true" [paginacao]="paginacaoST" (onPageChanged)="pageChanged($event)" [perfil]="'ST'"></app-empresas-associadas>

<app-empresas-associadas *ngIf="hasGestorConteudoIndustria" [titulo]="'app_rst_usuario_empresa_empresas_adicionados_gestor_conteudo_industria' | recurso" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" [listaEmpresas]="listaEmpresasGCOI" [temPaginacao]="true" [paginacao]="paginacaoGCOI" (onPageChanged)="pageChanged($event)" [perfil]="'GCOI'"></app-empresas-associadas>

<app-empresas-associadas *ngIf="hasTrabalhador" [titulo]="'app_rst_usuario_empresa_empresas_trabalhador' | recurso" [listaEmpresas]="listaEmpresasTRA" (onRemove)="removerEmpresa($event)" [modoConsulta]="modoConsulta" ></app-empresas-associadas>

<div class="btn-rodape-acoes space-up" *ngIf="isSomenteTrabalhador()">
    <button class="btn btn-secondary" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>