<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<div class="teste">
    <div class="tela-externa">
        <div class="container-publico">
            <p class="titulo-pagina text-center">
                {{title}}
            </p>

            <form novalidate [formGroup]="resetCredencialForm">
                <div class="container-form">
                    <p>
                        Um e-mail será enviado com o novo client secret.
                    </p>

                    <div class="row">
                        <div class="form-group col-sm-11 mx-auto">
                            <md-input-container [floatPlaceholder]="true">
                                <input required mdInput placeholder="{{'app_rst_label_client_id' | recurso}}" type="text"
                                    name="clientId" formControlName="clientId" class="form-control" id="clientId"
                                    appFormularioCamposErro />
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-rodape-acoes col-sm-12">
                            <button type="button " class="btn-rodape btn btn-primary" (click)="reset()">{{'app_rst_btn_enviar'
                                | recurso}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
