<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<app-dados-gerais #dadosGeraisComponent
    [modoAlterar]="modoAlterar"
    [modoConsulta]="modoConsulta"
    [usuario]="usuario">
</app-dados-gerais>

<div *ngIf="!usuario.clientId">
<app-associa-perfil  #associaPerfilComponent [modoConsulta]="modoConsulta" [usuario]="usuario" *ngIf="temOrigemDadosOuTemModoConsulta()"></app-associa-perfil>
</div>

<div *ngIf="!usuario.clientId">
<app-perfis-associados (sistemaEditar)="editarEvent($event)" [usuario]="usuario" *ngIf="temOrigemDadosOuTemModoConsulta()"></app-perfis-associados>
</div>
<div class="btn-rodape-acoes space-up">
    <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!modoConsulta" (click)="salvar()">
        {{'app_rst_btn_salvar' | recurso}}
    </button>
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' |
        recurso}}
    </button>
</div>
