<app-cabecalho></app-cabecalho>

<div class="app-body" [style.margin-top]="exibirMenu()">

    <div id="menu" class="sidebar">
        <app-menu></app-menu>
    </div>

    <main class="main" [style.margin-left]="exibirMenu()">
        <ng2-toasty></ng2-toasty>
        <app-bloqueio></app-bloqueio>

        <!--<app-rastro></app-rastro>-->

        <!-- /.conainer-fluid -->
        <div class="container-fluid">
            <div class="work">
                <router-outlet></router-outlet>
            </div>
        </div>

    </main>

</div>