<ng2-toasty>
</ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="container-form">
    <form novalidate [formGroup]="usuarioPerfilForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="col-md-3">
                    <div class="row user-image--upload user-justify-content">
                        <div class="col-12">
                            <div class="form-img">
                                <img *ngIf="!temImagem" class="img user" src="assets/img/user_photo.svg"
                                     alt="Adicionar">
                                <img *ngIf="temImagem" class="img user" [src]="foto.image" alt="Foto"
                                     [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 user-upload--icons">
                        <div class="row user-justify-content">
                            <div class="col-2">
                                <button class="btn-img" (click)="adicionarImagem()">
                                    <img class="upload" src="assets/img/upload.svg" alt="Adicionar">
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="btn-img" (click)="excluirImagem()">
                                    <img class="delete" src="assets/img/trash.svg" alt="Excluir">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <md-input-container [ngClass]="{'divDisabled': nome}" [floatPlaceholder]="true">
                                <input #nome mdInput formControlName="nome" name="nome" id="nome"
                                       appFormularioCamposErro
                                       placeholder="{{ 'app_rst_labels_nome_completo' | recurso }}" type="text"
                                       maxlength="160" required/>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <md-input-container [floatPlaceholder]="true" [ngClass]="{'divDisabled': email}">
                                <input #email mdInput placeholder="{{'app_rst_labels_email' | recurso}}" type="text"
                                       name="email" id="email" formControlName="email" class="form-control"
                                       maxlength="100" required appFormularioCamposErro>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-6">
                            <md-input-container [floatPlaceholder]="true" [ngClass]="{'divDisabled': login}">
                                <input #login mdInput placeholder="{{ 'app_rst_labels_login_cpf' | recurso }}"
                                       type="text" class="form-control" formControlName="login" id="login"
                                       appFormularioCamposErro [textMask]="{mask: mascaraCpf, guide: false}" required/>
                            </md-input-container>
                        </div>
                        <div class="form-group col-md-6">
                            <md-input-container [floatPlaceholder]="true" [ngClass]="{'divDisabled': apelido.disabled}">
                                <input #apelido mdInput formControlName="apelido" name="apelido" id="apelido"
                                       appFormularioCamposErro placeholder="{{ 'app_rst_labels_apelido' | recurso }}"
                                       type="text" maxlength="10"/>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="corpo-card">
                            <div class="row">
                                <div class="form-check col-lg-12">
                                    <mat-slide-toggle name="exibirApelido" id="exibirApelido"
                                                      formControlName="exibirApelido" appFormularioCamposErro>
                                        <div>
                                            <span class="col-quebra-palavra">{{'app_rst_labels_exibir_apelido' | recurso}}</span>
                                        </div>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-form space-up">
    <form [formGroup]="usuarioPerfilForm">

        <div class="container-subtitulo">
            <p>Trocar Senha</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true" [ngClass]="{'divDisabled': senhaAtual.disabled}">
                        <input id="senhaAtual" #senhaAtual mdInput formControlName="senhaAtual"
                               placeholder="{{ 'senha_atual' | recurso }}" name="senhaAtual" type="password">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="alert alert-danger"
                         *ngIf="usuarioPerfilForm.get('senhaNova').hasError('pattern') && usuarioPerfilForm.get('senhaNova').touched">
                        <div class="row">
                            <p class="col-md-11 mx-auto">
                                A Nova Senha Deve Conter:
                            </p>
                        </div>
                        <div class="row" style='color:red'>
                            <div class="col-sm-11 mx-auto">
                                <ul class="list-unstyled">
                                    <li>- No mínimo 8 caracteres;</li>
                                    <li>- Letra maiúscula;</li>
                                    <li>- Letra minúscula;</li>
                                    <li>- Número ou caracter especial.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <md-input-container [floatPlaceholder]="true" [ngClass]="{'divDisabled': senhaNova.disabled}">
                        <input id="senhaNova" #senhaNova mdInput minlength="8" formControlName="senhaNova"
                               placeholder="{{ 'nova_senha' | recurso }}" name="senhaNova" type="password">
                    </md-input-container>
                    <br>
                </div>
                <div class="form-group col-md-6">
                    <div id="errorconfirmesenha" style='color:red' class="alert alert-danger"
                         *ngIf="usuarioPerfilForm.controls.senhaConfirmacao.errors?.MatchPassword && usuarioPerfilForm.get('senhaConfirmacao').touched">
                        Confirme a Senha Corretamente.
                    </div>
                    <md-input-container [floatPlaceholder]="true"
                                        [ngClass]="{'divDisabled': senhaConfirmacao.disabled}">
                        <input id="senhanovaconfirme" #senhaConfirmacao mdInput formControlName="senhaConfirmacao"
                               placeholder="{{ 'confirme_sua_nova_senha' | recurso }}" name="senhaConfirmacao"
                               type="password">
                    </md-input-container>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="btn-rodape-acoes space-up">
    <button type="button " class="btn-rodape btn btn-primary btn-cadastro " (click)="salvar()">
        {{'app_rst_btn_salvar' | recurso}}
    </button>
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' |
        recurso}}
    </button>
</div>
<form [formGroup]="usuarioPerfilForm">
    <ng-template #upload let-close="close" let-fechar="dismiss">
        <div class="modal-header">
            <p class="modal-title">{{'app_rst_trabalhador_label_uplad_imagem' | recurso}} </p>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div id="cropper" class=" ">
                        <img-cropper #cropper [image]="foto" [settings]="cropperSettings"></img-cropper>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso
                }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' |
                recurso }}
            </button>
        </div>
    </ng-template>
</form>
