<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<form novalidate [formGroup]="questionarioForm">
    <div class="container-form">
        <div class="corpo-card">
            <alert *ngIf="ehPublicado()" type="info" dismissible="true">
                <p>{{avisoPublicado}}</p>
            </alert>
            <div class="row" *ngIf="id">
                <div class="form-group col-md-2" *ngIf="model && model.versao">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput formControlName="versao" name="versao" id="versao" appFormularioCamposErro placeholder="{{ 'app_rst_labels_versao' | recurso }}" type="text" />
                    </md-input-container>
                </div>
                <div class="form-group col-md-2">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput formControlName="status" name="status" id="status" appFormularioCamposErro placeholder="{{ 'app_rst_labels_status' | recurso }}" type="text" />
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput formControlName="nome" name="nome" id="nome" appFormularioCamposErro placeholder="{{ 'app_rst_labels_titulo' | recurso }}" type="text" maxlength="160" required/>
                    </md-input-container>
                </div>
                <div class="form-group col-md-2">
                    <div class="md-container">
                        <md-select formControlName="tipoQuestionario" id="tipoQuestionario" placeholder="{{ 'app_rst_labels_tipo_questionario' | recurso }}" appFormularioCamposErro required>
                            <md-option>
                                <option value=''>{{ 'app_rst_labels_selecione' | recurso }}</option>
                            </md-option>
                            <md-option *ngFor='let tipo of listaTipoQuestionario' [value]="tipo.id">
                                {{tipo.descricao}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <textarea required mdInput placeholder="{{ 'app_rst_labels_orientacoes' | recurso }}" rows="5" formControlName="descricao" name="descricao" id="descricao" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="periodicidade" class="col-form-label obrigatorio">{{ 'app_rst_labels_validade' | recurso }}</label>
                    <div>
                        <md-radio-group formControlName="periodicidade" disableRipple required>
                            <md-radio-button disableRipple *ngFor="let periodicidade of listaPeriodicidade" name="periodicidade" [value]="periodicidade.id" class="md-primary">{{ periodicidade.descricao }}</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-form space-up" *ngIf="id">
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-12 div-view-perguntas ">
                    <button class="btn-img no-focus col-md-2" (click)="goToPerguntas()">
                        <div class="col-md-12">
                            <img class="img-view-perguntas" src="assets/img/pergunta_azul.svg" alt="Perguntas">
                        </div>
                        <div class="col-md-12 modal-link-text">
                            Perguntas
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-rodape-acoes space-up">
        <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!this.modoConsulta" (click)="salvar()">{{'app_rst_btn_salvar' | recurso}}</button>
        <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!this.modoConsulta && podePublicar()" (click)="publicar()">{{'app_rst_btn_publicar' | recurso}}</button>
        <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
    </div>

</form>