.searchlupa .btn {
    position: relative;
    left: -60px;
    z-index: 10 !important;
    top: 0;
    border: transparent !important;
}

.img-view-perguntas {
    width: 100px;
    height: 100px;
}

.div-view-perguntas {
    text-align: center;
}