<table class="table table-responsive">
    <thead>
        <tr>
            <th class="text-center"><span class="label">Código</span></th>
            <th class="text-center"><span class="label">Descrição</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-endereco">{{segmento.codigo}}</td>
            <td class="col-bairro">{{segmento.descricao}}</td>
            <td class="text-center"><button *ngIf="!modoConsulta" class="btn-link" (click)="removeSegmento(segmento)"><img class="lixo" src="assets/img/trash.svg" alt="Excluir"></button></td>
        </tr>
    </tbody>
</table>