<div class="grid-pesquisa">
  <table class="table table-responsive table-hover">
    <thead>
      <th>
        <span class="label"></span>
      </th>
      <th class="">
        <span class="label"></span>
      </th>
      <th class="">
        <span class="label"></span>
      </th>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of list; let i = index">
          <tr class="imunizacao" *ngIf="removido(item)" (click)="selecionar(item, i)">
              <td class="text-center">{{ nomeDaVacina }}</td>
              <td>{{item?.dtProximaDoseVacina | date: 'dd/MM/yyyy' }}</td>
              <td class="text-center">
                <button class="btn-link" (click)="remover(item)">
                  <img class="lixo" src="assets/img/trash.svg" alt="Excluir">
                </button>
              </td>
            </tr>
      </ng-container>
    </tbody>
  </table>
</div>