<div class="searchlupa">
<button *ngIf="!isSelecionado; else botaoLimpar" type="button" class="btn btn-secondary btn-icon-pesquisar" aria-label="Left Align" (click)='adicionarEmpresa()'>
    <span class="fa fa-search" aria-hidden="true"></span>
</button>
</div>
<ng-template #botaoLimpar>
    <button type="button" class="btn btn-secondary btn-icon-pesquisar" aria-label="Left Align" (click)="removerEmpresa()">
        <span class="fa fa-times" aria-hidden="true"></span>
    </button>
</ng-template>

<ng-template #empresaModalComponent let-close="close" let-fechar="dismiss">
    <div class="modal-header">
        <p class="modal-title">{{ 'app_rst_empresa_title_pesquisar' | recurso }}</p>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" name="razaoSocial" maxlength="160" [(ngModel)]="filtro.razaoSocial" class="form-control" id="razaoSocial">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" [textMask]="{mask: mascaraCnpj, guide: false}" name="cnpj" [(ngModel)]="filtro.cnpj" class="form-control" id="cnpj">
                    </md-input-container>
                </div>
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" name="nomeFantasia" maxlength="160" [(ngModel)]="filtro.nomeFantasia" class="form-control" id="nomeFantasia">
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="modal-footer-cnae">
            <button type="button" class="btn btn-primary" (click)="pesquisar();">{{'app_rst_btn_pesquisar' | recurso}}</button>
            <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
        </div>
        <div class="grid-pesquisa" *ngIf="isNotEmpty(empresas)">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="text-center col-check">&nbsp;</th>
                        <th class="label">
                            <span>{{ 'app_rst_labels_razao_social' | recurso }}</span>
                        </th>
                        <th class="label">
                            <span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span>
                        </th>
                        <th class="label">
                            <span>{{ 'app_rst_labels_cnpj' | recurso }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empresas">
                        <td class="text-center">
                            <label class="custom-control">
                                        <md-radio-button name="rdoLista" (click)="selecionar(item)" aria-selected="">
                                        </md-radio-button>
                            </label>
                        </td>
                        <td class="col-quebra">&nbsp;{{item.razaoSocial}}</td>
                        <td class="col-quebra">&nbsp;{{item.nomeFantasia}}</td>
                        <td class="col-nao-quebra">{{item.cnpj | cnpjPipe }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                    (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="isNotEmpty(empresas)">
        <button type="button" class="btn btn-primary" [disabled]="!model.id" (click)="close('adicionar')">{{ 'app_rst_btn_selecionar' | recurso }}</button>
    </div>
</ng-template>