<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>
<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="empresaForm">
        <alert *ngIf="inconsistencia" type="info" dismissible="true">
            <p>{{mensagemInconsistencia}}</p>
        </alert>
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_razao_social' | recurso}}" maxlength="160" type="text" name="razaoSocial" id="razaoSocial"
                        formControlName="razaoSocial" required class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_cnpj' | recurso}}" type="text" name="cnpj" [textMask]="{mask: mascaraCnpj, guide: false}"
                        required id="cnpj" formControlName="cnpj" class="form-control" appFormularioCamposErro>
                </md-input-container>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nome_fantasia' | recurso}}" maxlength="160" type="text" name="nomeFantasia"
                        id="nomeFantasia" formControlName="nomeFantasia" class="form-control" appFormularioCamposErro>
                </md-input-container>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_inscricao_estadual_completo' | recurso}}" maxlength="20" type="text" name="inscricaoEstadual"
                        id="inscricaoEstadual" formControlName="inscricaoEstadual" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_inscricao_municipal' | recurso}}" maxlength="20" type="text" name="inscricaoMunicipal"
                        id="inscricaoMunicipal" formControlName="inscricaoMunicipal" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-check col-md-2">
                <mat-slide-toggle name="sesmt" id="sesmt" formControlName="sesmt" appFormularioCamposErro>
                    <div>
                        <span class="col-quebra-palavra">{{'app_rst_labels_sesmt' | recurso}}</span>
                    </div>
                </mat-slide-toggle>
            </div>
            <div class="form-check col-md-2">
                <mat-slide-toggle name="cipa" id="cipa" formControlName="cipa" appFormularioCamposErro>
                    <div>
                        <span class="col-quebra-palavra">{{'app_rst_labels_cipa' | recurso}}</span>
                    </div>
                </mat-slide-toggle>
            </div>
            <div class="form-check col-md-2">
                <mat-slide-toggle name="matriz" id="matriz" formControlName="matriz" appFormularioCamposErro>
                    <div>
                        <span class="col-quebra-palavra">{{'app_rst_labels_matriz' | recurso}}</span>
                    </div>
                </mat-slide-toggle>
            </div>
        </div>
        <div class="row space-up">
            <div class="form-group col-md-4">
                <div class="md-container">
                    <md-select placeholder="{{ 'app_rst_labels_porte' | recurso }}" required name="porteEmpresa" formControlName="porteEmpresa"
                        id="porteEmpresa">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let porte of listaPorteEmpresas" [value]="porte.id">
                            {{porte.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="md-container">
                    <md-select placeholder="{{ 'app_rst_labels_tipo' | recurso }}" required name="tipoEmpresa" formControlName="tipoEmpresa"
                        id="tipoEmpresa">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let tipo of listaTipoEmpresas" [value]="tipo.id">
                            {{tipo.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="md-container">
                    <md-select placeholder="{{ 'app_rst_labels_ramo' | recurso }}" name="ramoEmpresa" formControlName="ramoEmpresa" id="ramoEmpresa">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let ramo of ramosEmpresa" [value]="ramo.id">
                            {{ramo.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" maxlength="100" type="text" name="emailEmpresa" id="emailEmpresa"
                        formControlName="emailEmpresa" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_url' | recurso}}" maxlength="70" type="text" name="url" id="url" formControlName="url"
                        class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <!--Grid Segmento -->
        <div class="row">
            <div class="form-group col-md-8">
                <div class="borda-segmento">
                    <div id="modalLupa" #modalLupa class="input-group searchlupa">
                            <!-- #efefef !important -->
                        <md-input-container style="border-color:transparent" [floatPlaceholder]="true">
                            <input mdInput placeholder="{{'app_rst_labels_segmento' | recurso }}" disabled type="text" name="segmento" id="modalLupa"
                                value="{{descricaoSegmento()}}" class="form-control" appFormularioCamposErro>
                        </md-input-container>
                        <app-segmento-modal [modoConsulta]="modoConsulta" *ngIf="!existeSegmento()" #segmentoModalComponent #segmentoModalComponent
                            [(segmento)]="empresa.segmento"></app-segmento-modal>
                        <span *ngIf="existeSegmento() && !modoConsulta">
                            <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="removeSegmento()">
                                <span class="fa" [ngClass]="{'fa-times':existeSegmento()}" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="empresaForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_unidade_obra' | recurso}}</p>
        </div>
        <div class="row">
            <!--Grid Unidade Obra -->
            <div class="form-group col-md-12">
                <app-unidade-modal [modoConsulta]="modoConsulta" #modalUnidade [(list)]="empresa.unidadeObra"></app-unidade-modal>
                <app-unidade-grid [modal]="modalUnidade" [modoConsulta]="modoConsulta" *ngIf="isNotEmpty(empresa.unidadeObra)" [(list)]="empresa.unidadeObra"></app-unidade-grid>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="empresaForm">
        <div class="container-subtitulo">
            <p>{{ 'app_rst_labels_adicionar_uat' | recurso}}</p>
        </div>
        <div class="row">
            <!--Grid Uat -->
            <div class="form-group col-md-12">
                <app-uat-modal #uatModalComponent [modoConsulta]="modoConsulta" [(list)]="empresa.empresaUats"></app-uat-modal>
                <app-uat-grid [modoConsulta]="modoConsulta" [uatModalComponent]="uatModalComponent" *ngIf="existeUat()" [(list)]="empresa.empresaUats"></app-uat-grid>
            </div>
            <!--Fim Grid Uat -->
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="empresaForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_contato' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nome' | recurso}}" maxlength="160" type="text" name="nomeContato" id="nomeContato"
                        formControlName="nomeContato" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nit' | recurso}}" maxlength="14" type="text" name="numeroNitContato" [textMask]="{mask: mascaraNit, guide: false}"
                        id="numeroNitContato" formControlName="numeroNitContato" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_cargo' | recurso}}" maxlength="60" type="text" name="descricaCargoContato"
                        id="descricaCargoContato" formControlName="descricaCargoContato" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_telefone' | recurso}}" maxlength="15" (keyup)="mudarMascaraTelContato($event)"
                        type="text" name="numeroTelefoneContato" id="numeroTelefoneContato" formControlName="numeroTelefoneContato"
                        class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" maxlength="100" type="text" name="emailContato" id="emailContato"
                        formControlName="emailContato" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="empresaForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_responsavel' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container for="nomeResponsavel" [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nome' | recurso}}" maxlength="160" type="text" name="nomeResponsavel" id="nomeResponsavel"
                        formControlName="nomeResponsavel" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container for="numeroNitResponsavel" [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nit' | recurso}}" maxlength="14" type="text" name="numeroNitResponsavel" [textMask]="{mask: mascaraNit, guide: false}"
                        id="numeroNitResponsavel" formControlName="numeroNitResponsavel" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container for="emailResp" [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" maxlength="100" type="text" name="emailResp" id="emailResp"
                        formControlName="emailResp" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container for="telefoneResp" [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_telefone' | recurso}}" maxlength="15" (keyup)="mudarMascaraTelResponsavel($event)"
                        type="text" name="telefoneResp" id="telefoneResp" formControlName="telefoneResp" class="form-control"
                        appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="row space-up">
    <!--Grid Telefone -->
    <div class="form-group col-md-12">
        <div class="container-form" [ngClass]="{ divDis : modoConsulta }">
            <form [formGroup]="empresaForm">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_adicionar_telefone' | recurso}}</p>
                </div>
                <telefone-modal #modal [modoConsulta]="modoConsulta" [(list)]="empresa.telefoneEmpresa"></telefone-modal>
                <telefone-grid [modal]="modal" [modoConsulta]="modoConsulta" *ngIf="existeTelefone()" [(list)]="empresa.telefoneEmpresa"></telefone-grid>
            </form>
        </div>
    </div>
    <!--Fim Grid Telefone -->
    <!--Grid Endereço -->
    <div class="form-group col-md-12">
        <div class="container-form" [ngClass]="{ divDis : modoConsulta }">
            <form [formGroup]="empresaForm">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_endereco' | recurso}}</p>
                </div>
                <app-endereco-modal [modoConsulta]="modoConsulta" #enderecoModalComponent [(list)]="empresa.enderecosEmpresa"></app-endereco-modal>
                <app-endereco-grid [modoConsulta]="modoConsulta" [enderecoModalComponent]="enderecoModalComponent" *ngIf="existeEndereco()"
                    [(list)]="empresa.enderecosEmpresa"></app-endereco-grid>
            </form>
        </div>
    </div>
    <!--Fim Grid Endereço -->
</div>
<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="empresaForm">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_cnae_' | recurso}}</p>
        </div>
        <!-- Grid CNAE -->
        <div class="row">
            <div class="form-group col-md-12">
                <div class="img-modal-btn">
                    <div *ngIf="existeCnaes()">
                        <button *ngIf="!modoConsulta" class="btn-img" (click)="openModalCnae()">
                            <div class="modal-link-text">Adicionar novo CNAE</div>
                        </button>
                    </div>
                    <div *ngIf="!existeCnaes()">
                        <div class="img-modal-btn row">
                            <button *ngIf="!modoConsulta" class="btn-img no-focus col-md-12" (click)="openModalCnae()">
                                <div class="col-md-12">
                                    <img class=" modal-btn-img-link" src="assets/img/add.svg" alt="Adicionar">
                                </div>
                                <div class="col-md-12 modal-link-text">Adicionar CNAE
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table table-responsive" *ngIf="existeCnaes()">
                    <thead>
                        <tr>
                            <th class="">
                                <span class="label">{{'app_rst_labels_versao' | recurso}}</span>
                            </th>
                            <th class="">
                                <span class="label">{{'app_rst_labels_codigo' | recurso}}</span>
                            </th>
                            <th class="">
                                <span class="label">{{'app_rst_labels_descricao' | recurso}}</span>
                            </th>
                            <th class="text-center">
                                <span class="label">{{'app_rst_labels_grau_de_risco' | recurso}}</span>
                            </th>
                            <th class="text-center">
                                <span class="label">{{'app_rst_labels_principal' | recurso}}</span>
                            </th>
                            <th *ngIf="!modoConsulta" class="text-center">
                                <span class="label">&nbsp;</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <md-radio-group class="search" name="rdoLista" disableRipple> -->
                        <tr *ngFor="let item of empresa.empresaCnaes; let i = index">
                            <td class="col-nome text-left col-nao-quebra">{{item.cnae.versao}}</td>
                            <td class="text-left">{{item.cnae.codigo}}</td>
                            <td class="col-quebra">{{item.cnae.descricao}}</td>
                            <td class="text-center">{{item.cnae.numeroGrauDeRisco}}</td>
                            <td>
                                <label class="center-principal">
                                    <md-radio-button name="principal" ng-disabled="true" (click)="principal(item)" [checked]="item.principal" [hidden]="modoConsulta && !item.principal"></md-radio-button>
                                    <!-- <md-radio-button name="principal"  class="custom-control-input" (click)="principal(item)" [checked]="item.principal"  aria-selected=""></md-radio-button>
                                </label> -->
                                </label>
                            </td>
                            <td *ngIf="!modoConsulta" class="text-center">
                                <button class="btn-link" (click)="removeCnae(item)">
                                    <img class="lixo" src="assets/img/trash.svg" alt="Excluir">
                                </button>
                            </td>
                        </tr>
                        <!-- </md-radio-group> -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIM - Grid CNAE -->
    </form>

    <ng-template #modalCnae let-close="close" let-fechar="dismiss">
        <div>
            <div class="modal-header" [ngClass]="{ divDis : modoConsulta }">
                <p class="modal-title">{{'app_rst_labels_cnae_' | recurso}}</p>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-4">
                            <div class="md-container">
                                <md-select for="versao" placeholder="{{'app_rst_labels_versao' | recurso}}" [(ngModel)]="filtroCnae.versao">
                                    <md-option>
                                        <option value=''>{{ 'app_rst_labels_selecione' | recurso }}</option>
                                    </md-option>
                                    <md-option *ngFor='let v of versoes' [value]="v">{{v}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group col-sm-8">
                            <md-input-container for="codigo" [floatPlaceholder]="true">
                                <input mdInput placeholder="{{'app_rst_labels_codigo' | recurso}}" name="codigo" [(ngModel)]="filtroCnae.codigo" />
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <md-input-container for="descricao" [floatPlaceholder]="true">
                                <input mdInput placeholder="{{'app_rst_labels_descricao' | recurso}}" name="descricao" [(ngModel)]="filtroCnae.descricao" />
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer-cnae">
                <button type="button" class="btn btn-primary" (click)="pesquisarCnaes()">{{ 'app_rst_btn_pesquisar' | recurso }}</button>
                <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
            </div>
        </div>
        <div class="grid-pesquisa col-md-12" *ngIf="cnaes.length > 0">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="">
                            <span class="label">{{'app_rst_labels_versao' | recurso}}</span>
                        </th>
                        <th class="">
                            <span class="label">{{'app_rst_labels_codigo' | recurso}}</span>
                        </th>
                        <th class="">
                            <span class="label">{{'app_rst_labels_descricao' | recurso}}</span>
                        </th>
                        <th class="text-center">
                            <span class="label">{{'app_rst_labels_grau_de_risco' | recurso}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cnaes, let i = index">
                        <td class="text-center">
                            <fieldset>
                                <md-checkbox type="checkbox" name="rdoLista" class="radio-tabela-pesquisa" (click)="selecionarCnae(item)"></md-checkbox>
                            </fieldset>
                        </td>
                        <td class="text-left col-nome col-nao-quebra">{{item.versao}}</td>
                        <td class="text-left col-nao-quebra">{{item.codigo}}</td>
                        <td class="col-quebra">{{item.descricao}}</td>
                        <td class="text-center col-nao-quebra">{{item.numeroGrauDeRisco}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoCnae.textPrimeiro" [lastText]="paginacaoCnae.textUltimo" [nextText]="paginacaoCnae.textProximo"
                    [previousText]="paginacaoCnae.textAnterior" [totalItems]="paginacaoCnae.totalItens" [(ngModel)]="paginacaoCnae.pagina"
                    [itemsPerPage]="paginacaoCnae.qtdRegistro" (numPages)="paginacaoCnae.numPages = $event" (pageChanged)="pageChangedCnae($event)"
                    [maxSize]="paginacaoCnae.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true"
                    [rotate]="false"></pagination>
            </div>
        </div>
        <span *ngIf="!modoConsulta && cnaes.length > 0">
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="close()">{{ 'app_rst_btn_salvar' | recurso }}</button>
            </div>
        </span>
    </ng-template>
</div>

<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta || !this.hasPermissaoDesativar()}" *ngIf="empresa.id">
    <form [formGroup]="empresaForm">
        <div class="container-subtitulo">
            <p>Desativação</p>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <my-date-picker name="mydate" [options]="datePickerOptions" locale="pt-br" formControlName="dtdesligamento" name="dtdesligamento"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_desativacao' | recurso }} </span>
            </div>
        </div>

    </form>
</div>

<div class="btn-rodape-acoes space-up">
    <button *ngIf="!modoConsulta" type="button" class="btn btn-primary btn-cadastro" (click)="salvar()"> {{ 'app_rst_btn_salvar' | recurso }}</button>
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar()"> {{ 'app_rst_btn_voltar' | recurso }}</button>
</div>