<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="container-form">
    <form [formGroup]="formulario" [ngClass]="{ divDis : modoConsulta }">
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" required type="text" maxlength="160" formControlName="razaoSocial" class="form-control" name="razaoSocial" id="razaoSocial" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" required type="text" formControlName="numeroCnpj" class="form-control" [textMask]="{mask: mascaraCnpj, guide: false}" name="numeroCnpj" id="numeroCnpj" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" maxlength="160" formControlName="nomeFantasia" class="form-control" name="nomeFantasia" id="nomeFantasia" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_inscricao_estadual_completo' | recurso}}" maxlength="20" type="text" name="inscricaoEstadual" id="inscricaoEstadual" formControlName="inscricaoEstadual" class="form-control" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_inscricao_municipal' | recurso}}" maxlength="20" type="text" name="inscricaoMunicipal" id="inscricaoMunicipal" formControlName="inscricaoMunicipal" class="form-control" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="md-container">
                        <md-select placeholder="{{ 'app_rst_labels_porte' | recurso }}" name="porteEmpresa" formControlName="porteEmpresa" id="porteEmpresa">
                            <md-option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</md-option>
                            <md-option *ngFor="let porte of listaPorteEmpresas" [value]="porte.id">
                                {{porte.descricao}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="md-container">
                        <md-select placeholder="{{'app_rst_labels_tipo' | recurso}}" name="tipoEmpresa" formControlName="tipoEmpresa" id="tipoEmpresa">
                            <md-option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</md-option>
                            <md-option *ngFor="let tipo of listaTipoEmpresas" [value]="tipo.id">
                                {{tipo.descricao}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" maxlength="100" type="text" name="email" id="email" formControlName="email" class="form-control" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_url' | recurso}}" maxlength="70" type="text" name="url" id="url" formControlName="url" class="form-control" appFormularioCamposErro>
                    </md-input-container>

                </div>
            </div>
            <!--Grid Segmento -->
            <div class="row">
                <div class="form-group col-md-8">
                    <div class="borda-segmento">
                        <div id="modalLupa" #modalLupa class="input-group searchlupa">
                            <md-input-container style="border-color:transparent" [floatPlaceholder]="true">
                                <input mdInput placeholder="{{'app_rst_labels_segmento' | recurso }}" disabled type="text" name="segmento" id="modalLupa" value="{{descricaoSegmento()}}" class="form-control" appFormularioCamposErro>
                            </md-input-container>
                            <app-segmento-modal [modoConsulta]="modoConsulta" *ngIf="!existeSegmento()" #segmentoModalComponent #segmentoModalComponent [(segmento)]="redeCredenciada.segmento"></app-segmento-modal>
                            <span *ngIf="existeSegmento() && !modoConsulta">
                                <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="removeSegmento()">
                                    <span class="fa" [ngClass]="{'fa-times':existeSegmento()}"  aria-hidden="true"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim Grid Segmento -->
        </div>
    </form>
</div>


<div class="row space-up">
    <!--Grid Telefone -->
    <div class="form-group col-md-5">
        <div class="container-form" [ngClass]="{ divDis : modoConsulta }">
            <form [formGroup]="formulario">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_adicionar_telefone' | recurso}}</p>
                </div>
                <telefone-modal #modal [modoConsulta]="modoConsulta" [(list)]="redeCredenciada.telefonesRedeCredenciada"></telefone-modal>
                <telefone-grid [modal]="modal" [modoConsulta]="modoConsulta" *ngIf="existeTelefone()" [(list)]="redeCredenciada.telefonesRedeCredenciada"></telefone-grid>
            </form>
        </div>
    </div>
    <!--Fim Grid Telefone -->
    <!--Grid Endereço -->
    <div class="form-group col-md-7">
        <div class="container-form" [ngClass]="{ divDis : modoConsulta }">
            <form [formGroup]="formulario">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_endereco' | recurso}}</p>
                </div>
                <app-endereco-modal [modoConsulta]="modoConsulta" #enderecoModalComponent [(list)]="redeCredenciada.enderecosRedeCredenciada"></app-endereco-modal>
                <app-endereco-grid [modoConsulta]="modoConsulta" [enderecoModalComponent]="enderecoModalComponent" *ngIf="existeEndereco()" [(list)]="redeCredenciada.enderecosRedeCredenciada"></app-endereco-grid>
            </form>
        </div>
    </div>
    <!--Fim Grid Endereço -->
</div>


<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="formulario">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_responsavel' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nome' | recurso}}" maxlength="160" type="text" name="nomeResponsavel" id="nomeResponsavel" formControlName="nomeResponsavel" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_nit' | recurso}}" maxlength="14" type="text" name="numeroNitResponsavel" [textMask]="{mask: mascaraNit, guide: false}" id="numeroNitResponsavel" formControlName="numeroNitResponsavel" class="form-control"
                        appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_cargo' | recurso}}" maxlength="60" type="text" name="cargoResponsavel" id="cargoResponsavel" formControlName="nomeResponsavel" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>

            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_telefone' | recurso}}" maxlength="15" (keyup)="mudarMascaraTelResponsavel($event)" type="text" name="numeroTelefoneResponsavel" id="numeroTelefoneResponsavel" formControlName="numeroTelefoneResponsavel" class="form-control"
                        appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_email' | recurso}}" maxlength="100" type="text" name="emailResponsavel" id="emailResponsavel" formControlName="emailResponsavel" class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }" *ngIf="showDataDesligamento">
    <form [formGroup]="formulario">
        <div class="container-subtitulo">
            <p>Desativação</p>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <my-date-picker name="mydate" [options]="datePickerOptions" locale="pt-br" formControlName="dtdesligamento" name="dtdesligamento" (keyup)="maskDate($event, this.formulario, 'dtdesligamento')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_desativacao' | recurso }} </span>
            </div>
        </div>

    </form>
</div>

<div class="btn-rodape-acoes  space-up">
    <span *ngIf="!modoConsulta">
                        <button type="submit" class="btn btn-primary btn-cadastro" routerLinkActive=" active" (click)="salvar()">{{ 'app_rst_btn_salvar' | recurso }}</button>
                    </span>

    <button type="submit" class="btn btn-secondary btn-cadastro" routerLinkActive="active" (click)="voltar()">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>