<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>

<div class="container-pesquisar container-form">
    <form>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso}}" type="text" name="razao_social" maxlength="160" [(ngModel)]="filtroUat.razaoSocial" class="form-control" id="razaoSocial">
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_cnpj' | recurso}}" type="text" name="cnpj" [textMask]="{mask: mascaraCnpj, guide: false}" [(ngModel)]="filtroUat.cnpj" class="form-control" id="cnpj">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <div class="md-container">
                    <md-select placeholder="{{'app_rst_labels_departamento_regional' | recurso}}" name="depRegional" [(ngModel)]="filtroUat.idDepRegional" id="selectDepRegional ">
                        <md-option value=undefined>{{'app_rst_labels_selecione' | recurso}}</md-option>
                        <md-option *ngFor='let depart of departamentos' [value]="depart.id">{{depart.razaoSocial}}</md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="situacao" class="col-form-label pesquisa-situacao">{{ 'app_rst_labels_situacao' | recurso }}</label>
                <div>
                    <md-radio-group class="search" [(ngModel)]="filtroUat.situacao" name="situacao" disableRipple>
                        <md-radio-button class="pesquisa-situacao" disableRipple id="todos" name="todos" value="">{{ 'app_rst_labels_situacao_todos' | recurso }}</md-radio-button>
                        <md-radio-button class="pesquisa-situacao" disableRipple *ngFor="let key of keysSituacao" [value]="key">{{situacoes[key]}}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn btn-primary" (click)="pesquisar();">{{'app_rst_btn_pesquisar' | recurso}}</button>
    <button type="button" class="btn btn-primary" (click)="incluir()" *ngIf="hasPermissaoCadastro()"> {{'app_rst_btn_novo' | recurso}}</button>
</div>

<div class="container-form space-up" *ngIf="isNotEmpty(uats)">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th class="label"><span>{{'app_rst_labels_razao_social' | recurso}}</span></th>
                <th class="label"><span>{{'app_rst_labels_cnpj' | recurso}}</span></th>
                <th class="label"><span>{{'app_rst_labels_municipio' | recurso}}</span></th>
                <th class="label"><span>{{'app_rst_labels_situacao' | recurso}}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="selecionar(item)" *ngFor="let item of uats">
                <td class="col-quebra">{{item.razaoSocial}}</td>
                <td class="col-nao-quebra">{{getCnpjCpfFormatado(item.cnpj)}}</td>
                <td class="col-quebra">{{getEndereco(item)}}</td>
                <td class="col-nao-quebra">{{getSituacaoPorData(item.dataDesativacao)}}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-paginacao">
        <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
            (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
    </div>
</div>
