<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<div class="teste">
    <div class="tela-externa">
        <div class="container-publico">
            <p class="titulo-pagina text-center">
                {{title}}
            </p>

            <form novalidate [formGroup]="form">
                <div class="container-form">
                    <p>
                        Um e-mail será enviado com um link para o cadastro da nova senha.
                    </p>

                    <div class="row">
                        <div class="form-group col-sm-11 mx-auto">
                            <md-input-container [floatPlaceholder]="true">
                                <input required mdInput placeholder="{{'app_rst_labels_email' | recurso}}" type="text" name="nome" maxlength="255" formControlName="email" class="form-control" id="email" appFormularioCamposErro/>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-rodape-acoes col-sm-12">
                            <button type="button " class="btn-rodape btn btn-primary" (click)="enviar()">{{'app_rst_btn_enviar' | recurso}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>