<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ 'app_rst_questionario_title_pesquisar' | recurso }}
</p>

<div class="container-pesquisar container-form">
    <form class="float-label">
        <div class="row">
            <div class="form-group col-md-12">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_nome' | recurso }}" type="text" class="form-control" id="nome" name="nome" [(ngModel)]="filtro.nome" maxlength="160" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="situacao" class="col-form-label pesquisa-situacao">{{ 'app_rst_labels_situacao' | recurso }}</label>
                <div>
                    <md-radio-group class="search" [(ngModel)]="filtro.situacao" name="situacao" disableRipple>
                        <md-radio-button class="pesquisa-situacao" disableRipple id="todos" name="todos" value="">{{ 'app_rst_labels_situacao_todos' | recurso }}</md-radio-button>
                        <md-radio-button class="pesquisa-situacao" disableRipple *ngFor="let key of keysStatus" [value]="key">{{status[key]}}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="form-group col-3">
                <div class="md-container">
                    <md-select for="versao" placeholder="{{'app_rst_labels_versao' | recurso}}" name="versao" [(ngModel)]="filtro.versao">
                        <md-option>
                            <option value="">{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor='let v of versoes' [value]="v">{{v}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="md-container">
                    <md-select id="tipoQuestionario" placeholder="{{ 'app_rst_labels_tipo_questionario' | recurso }}" name="tipo" [(ngModel)]="filtro.tipo">
                        <md-option>
                            <option value=''>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor='let tipo of listaTipoQuestionario' [value]="tipo.id">
                            {{tipo.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn btn-primary" (click)="pesquisar()"> {{'app_rst_btn_pesquisar' | recurso}}</button>
    <button type="button" class="btn btn-primary" (click)="incluir()" *ngIf="hasPermissaoCadastro()"> {{'app_rst_btn_novo' | recurso}}</button>
    <button *ngIf="isEmpty(questionarios)" type="button" class="btn btn-secondary " (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>
<div class="container-form space-up" *ngIf="isNotEmpty(questionarios)">
    <div class="grid-pesquisa">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th><span class="label">{{'app_rst_labels_nome' | recurso}}</span></th>
                    <th><span class="label">{{'app_rst_labels_situacao' | recurso}}</span></th>
                    <th><span class="label">{{'app_rst_labels_versao' | recurso}}</span></th>
                    <th><span class="label">{{'app_rst_labels_tipo_questionario' | recurso}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of questionarios" (click)="selecionar(item)">
                    <td class="col-nome col-quebra">{{item.nome}}</td>
                    <td class="col-nome col-quebra">{{status[item.status]}}</td>
                    <td class="col-nome col-quebra">{{item.versao}}</td>
                    <td class="col-nome col-quebra">{{item.tipoQuestionario.descricao}}</td>
                    <td class="text-center"><button class="btn-link" (click)="$event.stopPropagation();remover(item)" *ngIf="exibir(item) && !modoConsulta"><img class="lixo" src="assets/img/trash.svg" alt="Excluir"></button></td>
                </tr>
            </tbody>
        </table>
        <div class="btn-paginacao">
            <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
        </div>
    </div>
</div>
<div class="btn-rodape-acoes space-up" *ngIf="isNotEmpty(questionarios)">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>