<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{'app_rst_usuario_sindicato_subtitulo_associar_sindicato' | recurso}}
</p>

<div class="container-form">
    <div class="row">
        <div class="form-group col-sm-8">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" name="razaoSocial" [(ngModel)]="filtro.razaoSocial" class="form-control" id="razaoSocial" maxlength="160" #razaoSocialFiltro="ngModel">
            </md-input-container>
        </div>
        <div class="form-group col-sm-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" [textMask]="{mask: mascaraCnpj, guide: false}" name="cnpj" [(ngModel)]="filtro.cnpj" class="form-control" id="cnpj" #cnpjFiltro="ngModel">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-lg-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" name="nomeFantasia" [(ngModel)]="filtro.nomeFantasia" class="form-control" id="nomeFantasia" maxlength="160" #nomeFantasia="ngModel">
            </md-input-container>
        </div>
    </div>
</div>

<div class="btn-filter-pesquisar space-up">
    <button class="btn btn-primary" (click)="pesquisar()">{{'app_rst_btn_pesquisar' | recurso}}</button>
    <button class="btn btn-secondary" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>

<div class="container-form space-up" *ngIf="isNotEmpty(listaSindicato)">
    <div class="grid-pesquisa">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="label text-center">&nbsp;</th>
                    <th class="label"><span>{{ 'app_rst_labels_razao_social' | recurso }}</span></th>
                    <th class="label"><span>{{ 'app_rst_labels_nome_fantasia' | recurso }}</span></th>
                    <th class="label"><span>{{ 'app_rst_labels_cnpj' | recurso }}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaSindicato">
                    <td class="text-center">
                        <fieldset>
                            <md-checkbox [(ngModel)]="checks[item.id]" name="rdoLista" (change)="selecionar(item, $event, item.id)" class="radio-tabela-pesquisa"></md-checkbox>
                        </fieldset>
                    </td>
                    <td class="col-quebra">&nbsp;{{item.razaoSocial}}</td>
                    <td class="col-quebra">&nbsp;{{item.nomeFantasia}}</td>
                    <td class="col-nao-quebra">{{item.cnpj | cnpjPipe }}</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-paginacao">
            <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
        </div>
    </div>
</div>
<div class="btn-rodape-acoes space-up" *ngIf="isNotEmpty(listaSindicato)">
    <button type="button" class="btn btn-primary" (click)="adicionarUsuarioEntidade()">{{ 'app_rst_btn_salvar' | recurso }}</button>
</div>