<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ 'app_rst_imunizacao_title_cadastrar_vacina' | recurso }}
</p>

<div class="container-form">
    <form [formGroup]="vacinaForm">
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput formControlName="nome" name="nome" id="nome" appFormularioCamposErro placeholder="{{ 'app_rst_labels_nome_vacina' | recurso }}" type="text" maxlength="100" required/>
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput formControlName="lote" name="lote" id="lote" appFormularioCamposErro placeholder="{{ 'app_rst_labels_lote' | recurso }}" type="text" maxlength="10" />
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <my-date-picker class="prof" id="dataVacinacao" [options]="myDatePickerOptions" locale="pt-br" formControlName="dataVacinacao" name="dataVacinacao" (keyup)="maskDate($event, this.vacinaForm, 'dataVacinacao')" required></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_label_data_vacinacao' | recurso }} </span>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput formControlName="local" name="local" id="local" appFormularioCamposErro placeholder="{{ 'app_rst_labels_local' | recurso }}" type="text" maxlength="50" />
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="row space-up">
    <div class="form-group col-12">
        <div class="container-form">
            <form [formGroup]="vacinaForm">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_adicionar_vacina' | recurso}}</p>
                </div>
                <app-vacina-modal #modal [nomeDaVacina]="prepareNome()" [(list)]="vacina.listaProximasDoses"></app-vacina-modal>
                <app-vacina-grid [modal]="modal" [nomeDaVacina]="prepareNome()" *ngIf="existeVacina()" [(list)]="vacina.listaProximasDoses"></app-vacina-grid>
            </form>
        </div>
    </div>
</div>
<div class="btn-rodape-acoes">
    <button type="button " class="btn-rodape btn btn-primary btn-cadastro " (click)="salvar()">{{'app_rst_btn_salvar' | recurso}}</button>
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>