<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>
<div class="container-pesquisar container-form">
    <form>
        <div class="row">
            <div class="form-group col-md-8">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput [(ngModel)]="filtro.razaoSocial" name="razao" id="razao" appFormularioCamposErro placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" maxlength="256" />
                </md-input-container>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput [textMask]="{mask: mascaraCNPJ, guide: false}" [(ngModel)]="filtro.cnpj" name="cnpj" id="cnpj" appFormularioCamposErro placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-6 col-lg-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput [(ngModel)]="filtro.nomeFantasia" name="nome" id="nome" appFormularioCamposErro placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" />
                </md-input-container>
            </div>
            <div class="form-group col-md-6 search">
                <label for="situacao" class="col-form-label pesquisa-situacao">{{ 'app_rst_labels_situacao' | recurso }}</label>
                <div>
                    <md-radio-group [(ngModel)]="filtro.situacao" name="situacao" disableRipple>
                        <md-radio-button class="pesquisa-situacao" disableRipple id="todos" name="todos" value="">Todos</md-radio-button>
                        <md-radio-button class="pesquisa-situacao" disableRipple *ngFor="let key of keysSituacao" [value]="key">{{situacoes[key]}}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="btn-rodape-acoes space-up">
    <button type="button" class="btn btn-primary" (click)="pesquisar()"> {{'app_rst_btn_pesquisar' | recurso}}</button>
    <button type="button" class="btn btn-primary" (click)="incluir()" *ngIf="!modoConsulta && hasPermissaoCadastro()"> {{'app_rst_btn_novo' | recurso}}</button>
</div>
<div class="container-form space-up" *ngIf="isNotEmpty(sindicatos)">
    <div class="grid-pesquisa">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="label"><span class="label">{{'app_rst_labels_razao_social' | recurso}}</span></th>
                    <th class="label"><span class="label">{{'app_rst_labels_nome_fantasia' | recurso}}</span></th>
                    <th class="label"><span class="label">{{'app_rst_labels_cnpj' | recurso}}</span></th>
                    <th class="label"><span class="label">{{'app_rst_labels_situacao' | recurso}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sindicatos" (click)="selecionar(item)">
                    <td class="col-quebra">&nbsp;{{item.razaoSocial}}</td>
                    <td class="col-quebra">&nbsp;{{item.nomeFantasia}}</td>
                    <td class="col-nao-quebra">&nbsp;{{item.cnpj | cnpjPipe }}</td>
                    <td class="col-nao-quebra">&nbsp;{{item.dataDesativacao | inativo}}</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-paginacao">
            <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
        </div>
    </div>
</div>