<app-bloqueio></app-bloqueio>
<div *ngIf="minhaEmpresa && !empresaUnica" class="space-up">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="md-container">
                <md-select name="empresas" [(ngModel)]="minhaEmpresaSelecionada" (change)="selecionaMinhaEmpresa()" placeholder="{{'app_rst_empresa_subtitulo' | recurso}}">
                    <md-option>
                        <option value="{{null}}">{{ 'app_rst_labels_selecione' | recurso }}</option>
                    </md-option>
                    <md-option *ngFor='let empresa of empresasUsuario' [value]="empresa">{{empresa.razaoSocial}} - {{empresa.cnpj}}
                    </md-option>
                </md-select>
            </div>
        </div>
    </div>
</div>

<div *ngIf="existeEmpresa">

    <div class="titulo-pagina-intermediaria">
        <div>Razão Social: {{empresa.razaoSocial}}</div>
        <div>CNPJ: {{empresa.cnpj | cnpjPipe}}</div>
    </div>

    <div class="row">
        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoCadastroBasico()">

            <app-card-tela-intermediaria (onNavegar)="mudarPagina('cadastrar')" [titulo]="'Cadastro Básico'" [classCardCor]="'card-laranja'" [classImgFront]="'img_dadosbasico'" [classImgBack]="'img_dadosbasico'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoCargo()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('cbos')" [titulo]="'Cargo'" [classCardCor]="'card-musgo'" [classImgFront]="'img_cargo'" [classImgBack]="'img_cargo'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoFuncao()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('funcao')" [titulo]="'Função'" [classCardCor]="'card-roxo'" [classImgFront]="'img_funcao'" [classImgBack]="'img_funcao'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoSetor()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('setor')" [titulo]="'Setor'" [classCardCor]="'card-azul'" [classImgFront]="'img_setor'" [classImgBack]="'img_setor'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoJornada()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('jornadas')" [titulo]="'Jornada'" [classCardCor]="'card-azul'" [classImgFront]="'img_jornada'" [classImgBack]="'img_jornada'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoLotacao()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('lotacao')" [titulo]="'Lotação'" [classCardCor]="'card-laranja'" [classImgFront]="'img_lotacao'" [classImgBack]="'img_lotacao'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoSindicato()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('sindicato')" [titulo]="'Sindicato'" [classCardCor]="'card-musgo'" [classImgFront]="'img_sindicato'" [classImgBack]="'img_sindicato'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoTrabalhador()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('trabalhador')" [titulo]="'Trabalhador'" [classCardCor]="'card-roxo'" [classImgFront]="'img_trabalhador'" [classImgBack]="'img_trabalhador'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3" *ngIf="hasPermissaoTrabalhador()">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('contrato')" [titulo]="'Contrato'" [classCardCor]="'card-roxo'" [classImgFront]="'img_trabalhador'" [classImgBack]="'img_trabalhador'"></app-card-tela-intermediaria>
        </div>
    </div>
    <div class="row" *ngIf="!minhaEmpresa">
        <div class="form-group col-12">
            <button type="button" class="btn btn-secondary btn-cadastro" (click)='voltar()'>Voltar</button>
        </div>
    </div>
</div>
