<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>

<p class="titulo-pagina">
    {{'app_rst_sindicatos_title_menu' | recurso}}
</p>
<div class="container-form" *ngIf="hasPermissaoCadastrar()">
    <div class="row">
        <div class="form-group col-sm-8">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput #razaoSocialFiltro="ngModel" placeholder="{{'app_rst_labels_razao_social' | recurso}}" maxlength="160" type="text" name="razaoSocial" id="razaoSocial" [(ngModel)]="filtro.razaoSocial" class="form-control" appFormularioCamposErro>
            </md-input-container>
        </div>
        <div class="form-group col-sm-4">
            <md-input-container [floatPlaceholder]="true">
                <input mdInput #cnpjFiltro="ngModel" placeholder="{{'app_rst_labels_cnpj' | recurso}}" [textMask]="{mask: mascaraCnpj, guide: false}" type="text" name="cnpj" id="cnpj" [(ngModel)]="filtro.cnpj" class="form-control" appFormularioCamposErro>
            </md-input-container>
        </div>
    </div>
</div>

<div class="btn-filter-pesquisar space-up" *ngIf="hasPermissaoCadastrar()">
    <button type="button" class="btn btn-primary" (click)="pesquisar();">{{ 'app_rst_btn_pesquisar' | recurso }}</button>
</div>

<div class="container-form space-up" *ngIf="isNotEmpty(listaSindicato)">
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaSindicato)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>{{ 'app_rst_labels_razao_social' | recurso }}</th>
                        <th>{{ 'app_rst_labels_cnpj' | recurso }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaSindicato">
                        <td (click)="selecionarSindicato(item)">{{item.razaoSocial}}</td>
                        <td class="col-nao-quebra" (click)="selecionarSindicato(item)">{{item.cnpj | cnpjPipe}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                    (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>
<div *ngIf="sindicatoSelecionado.valor">
    <app-associacao-empresa-sindicato [(model)]="model" [(paginacaoEmpresaSindicato)]="paginacaoEmpresaSindicato" [(listaEmpresaSindicato)]="listaEmpresaSindicato" [(idEmpresa)]="idEmpresa" [(sindicatoSelecionado)]="sindicatoSelecionado" [(empresaSindicatoSelecionada)]="empresaSindicatoSelecionada">
    </app-associacao-empresa-sindicato>
</div>
<br/>
<div class="container-form">
    <div class="container-subtitulo">
        <p>{{'app_rst_empresa_subtitulo_sindicatos_associados' | recurso}}</p>
    </div>

    <div *ngIf="!isNotEmpty(listaEmpresaSindicato)" class="row">
        <div class="form-group col-md-12">
            {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
        </div>
    </div>
    <div class="row grid-pesquisa" *ngIf="isNotEmpty(listaEmpresaSindicato)">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'app_rst_labels_dataAssociacao' | recurso }}</th>
                        <th>{{ 'app_rst_labels_dataDesligamento' | recurso }}</th>
                        <th>{{ 'app_rst_labels_razao_social' | recurso }}</th>
                        <th>{{ 'app_rst_labels_cnpj' | recurso }}</th>
                        <th *ngIf="!empresaSindicatoSelecionada.valor && hasPermissaoDesativar()" class="text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaEmpresaSindicato; let i = index">
                        <td (click)="selecionarEmpresaSindicato(item, i)" class="col-nao-quebra">{{item.dataAssociacao}}</td>
                        <td (click)="selecionarEmpresaSindicato(item, i)" class="col-nao-quebra">{{item.dataDesligamento}}</td>
                        <td (click)="selecionarEmpresaSindicato(item, i)" class="col-quebra" style="width:44%;">{{item.sindicato.razaoSocial}}</td>
                        <td (click)="selecionarEmpresaSindicato(item, i)" class="col-nao-quebra">{{item.sindicato.cnpj | cnpjPipe}}</td>
                        <td *ngIf="!empresaSindicatoSelecionada.valor && hasPermissaoDesativar()" class="text-center">
                            <button class="btn-link" (click)="removerEmpresaSindicato(item)"><img class="lixo" src="assets/img/trash.svg" alt="Excluir"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacaoEmpresaSindicato.textPrimeiro" [lastText]="paginacaoEmpresaSindicato.textUltimo" [nextText]="paginacaoEmpresaSindicato.textProximo" [previousText]="paginacaoEmpresaSindicato.textAnterior" [totalItems]="paginacaoEmpresaSindicato.totalItens"
                    [(ngModel)]="paginacaoEmpresaSindicato.pagina" [itemsPerPage]="paginacaoEmpresaSindicato.qtdRegistro" (numPages)="paginacaoEmpresaSindicato.numPages = $event" (pageChanged)="pageChangedEmpresaSindicato($event)" [maxSize]="paginacaoEmpresaSindicato.maxSize"
                    class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>

</div>
<div *ngIf="empresaSindicatoSelecionada.valor">
    <app-associacao-empresa-sindicato *ngIf="!modoConsulta" [(model)]="modelEmpresaSindicato" [(paginacaoEmpresaSindicato)]="paginacaoEmpresaSindicato" [(listaEmpresaSindicato)]="listaEmpresaSindicato" [(idEmpresa)]="idEmpresa" [(sindicatoSelecionado)]="sindicatoSelecionado"
        [(empresaSindicatoSelecionada)]="empresaSindicatoSelecionada" [(dataAssociacao)]="dataAssociacao" [(modoConsulta)]="modoConsulta" [(dataDesligamento)]="dataDesligamento">
    </app-associacao-empresa-sindicato>
</div>
<div class="btn-rodape-acoes space-up">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>