<br/>
<div class="container-form">
    <div class="container-subtitulo">
        <p>{{title}}</p>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="col-form-label"><strong>{{ 'app_rst_labels_razao_social' | recurso}}:</strong> </label>
            <span>{{model.sindicato.razaoSocial}}</span>
        </div>

        <div class="col-12">
            <label class="col-form-label"><strong>{{ 'app_rst_labels_cnpj' | recurso}}</strong> </label>
            <span>{{model.sindicato.cnpj | cnpjPipe}}</span>
        </div>

        <div class="col-sm-4 col-md-4" [ngClass]="{ divDis : modoConsulta }">
            <my-date-picker [(disabled)]="modoConsulta" [options]="datePickerOptions" locale="pt-br" [(ngModel)]="dataAssociacao" name="dataAssociacao" (keyup)="maskDt($event, 'A')"></my-date-picker>
            <span class="floating-label"> {{ 'app_rst_labels_dataAssociacao' | recurso }} </span>
        </div>

        <div class="form-group col-sm-4 col-md-4" [ngClass]="{ divDis : modoConsulta }">
            <my-date-picker [(disabled)]="modoConsulta" [options]="datePickerOptions" locale="pt-br" [(ngModel)]="dataDesligamento" name="dataDesligamento" (keyup)="maskDt($event, 'D')"></my-date-picker>
            <span class="floating-label"> {{ 'app_rst_labels_dataDesligamento' | recurso }} </span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12">
            <button class="btn btn-primary" [(disabled)]="modoConsulta" (click)="adicionarEmpresaSindicato()">{{ 'app_rst_btn_salvar' | recurso}}</button>
            <button class="btn btn-secondary" [(disabled)]="modoConsulta" (click)="limpar()">{{ 'app_rst_btn_cancelar' | recurso}}</button>
        </div>
    </div>
</div>