<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="formulario">
        <alert *ngIf="inconsistencia" type="info" dismissible="true">
            <p>{{mensagemInconsistencia}}</p>
        </alert>
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{ 'app_rst_labels_razao_social' | recurso }}" type="text" maxlength="150" formControlName="razaoSocial" class="form-control" name="razaoSocial" id="razaoSocial" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{ 'app_rst_labels_cnpj' | recurso }}" type="text" formControlName="cnpj" class="form-control" [textMask]="{mask: mascaraCnpj, guide: false}" name="cnpj" id="cnpj" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_nome_fantasia' | recurso }}" type="text" maxlength="80" formControlName="nomeFantasia" class="form-control" name="nomeFantasia" id="nomeFantasia" appFormularioCamposErro>
                    </md-input-container>

                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{ 'app_rst_labels_sigla_dr' | recurso }}" type="text" maxlength="2" formControlName="siglaDr" class="form-control" name="siglaDr" id="siglaDr" appFormularioCamposErro>
                    </md-input-container>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_nome_responsavel' | recurso }}" type="text" maxlength="50" formControlName="nomeResponsavel" class="form-control" name="nomeResponsavel" id="nomeResponsavel" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="formulario">
        <div class="container-subtitulo">
            <p>{{'app_rst_labels_data_endereco_contato' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-8">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{ 'app_rst_labels_endereco' | recurso }}" type="text" maxlength="100" formControlName="endereco" class="form-control" name="endereco" id="endereco" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-sd-6 col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder=" {{ 'app_rst_labels_numero' | recurso }}" type="text" maxlength="5" formControlName="numeroEnd" class="form-control" name="numeroEnd" id="numeroEnd" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sd-6 col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_complemento' | recurso }}" type="text" maxlength="100" formControlName="complemento" class="form-control" name="complemento" id="complemento" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_bairro' | recurso }}" type="text" maxlength="50" formControlName="bairro" class="form-control" name="bairro" id="bairro" appFormularioCamposErro>
                    </md-input-container>
                </div>
                <div class="form-group col-md-4">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput required placeholder="{{ 'app_rst_labels_CEP' | recurso }}" type="text" formControlName="cep" [textMask]="{mask: mascaraCep, guide: false}" class="form-control" name="cep" id="cep" appFormularioCamposErro>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <div class="md-container">
                        <md-select required placeholder="{{ 'app_rst_labels_estado' | recurso }}" name="estado" formControlName="estado" id="estado" (change)="buscarMunicipio()" appFormularioCamposErro>
                            <md-option>
                                <option value="undefined">Selecione</option>
                            </md-option>
                            <md-option *ngFor='let estado of estados' [value]="estado.id">{{estado.descricao}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <ng-select required [options]="municipios" allowClear=true id="municipio" name="municipio" formControlName="municipio" maxlength="50" notFoundMsg="{{ 'app_rst_nenhum_registro_encontrado' | recurso }}">
                    </ng-select>
                    <span class="floating-label">Município *</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{ 'app_rst_labels_email' | recurso }}" type="text" maxlength="100" formControlName="email" class="form-control" name="email" id="email" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
    </form>
</div>
<div class="row space-up">
    <div class="form-group col-md-12">
        <div class="container-form">
            <form [formGroup]="formulario">
                <div class="container-subtitulo">
                    <p>{{'app_rst_labels_adicionar_telefone' | recurso}}</p>
                </div>
                <!--Grid Telefone -->
                <telefone-modal #modal [modoConsulta]="modoConsulta" [(list)]="departamentoRegional.listaTelDepRegional"></telefone-modal>
                <telefone-grid [modal]="modal" [modoConsulta]="modoConsulta" *ngIf="existeTelefone()" [(list)]="departamentoRegional.listaTelDepRegional"></telefone-grid>
                <!--Fim Grid Telefone -->
            </form>
        </div>
    </div>
</div>

<div class="container-form space-up" [ngClass]="{ divDis : modoConsulta }" *ngIf="showDataDesligamento">
    <form [formGroup]="formulario">
        <div class="container-subtitulo">
            <p>Desativação</p>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <my-date-picker name="mydate" [options]="datePickerOptions" locale="pt-br" formControlName="dtDesativacao" name="dtDesativacao" (keyup)="maskDate($event, this.formulario, 'dtDesativacao')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_desativacao' | recurso }} </span>
            </div>
        </div>

    </form>
</div>
<br>
<span *ngIf="!modoConsulta">
            <button type="submit" class="btn btn-primary btn-cadastro"  routerLinkActive="active" (click)="salvar()">{{ 'app_rst_btn_salvar' | recurso }}</button>
        </span>

<button class="btn btn-secondary btn-cadastro" routerLinkActive="active" (click)="voltar()">{{ 'app_rst_btn_voltar' | recurso }}</button>
