<button type="button" *ngIf="!isGrupoSelecionado; else btnLimpar" class="btn btn-secondary" aria-label="Left Align" (click)='openModal()'>
    <span class="fa fa-search" aria-hidden="true"></span>
</button>

<ng-template #btnLimpar>
    <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="limpar()">
        <span class="fa fa-times" aria-hidden="true"></span>
    </button>
</ng-template>

<ng-template #grupoModalComponent let-close="close" let-fechar="dismiss">
    <div class="container-form space-up">
        <div class="container-subtitulo">
            <p>Adicionar Grupo</p>
        </div>
        <form class="float-label">
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{'app_rst_labels_grupo' | recurso}}" type="text" name="descricao" maxlength="160" [(ngModel)]="filtro.descricao"
                            class="form-control" id="descricao" />
                    </md-input-container>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer-cnae">
        <button type="button" class="btn btn-primary" (click)="pesquisar();">{{'app_rst_btn_pesquisar' | recurso}}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
    </div>
    <div class="grid-pesquisa" *ngIf="isNotEmpty(listaGrupo)">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="text-center col-check">&nbsp;</th>
                    <th class="">
                        <span class="label">{{ 'app_rst_labels_descricao' | recurso }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaGrupo">
                    <td class="text-center">
                        <label class="custom-control">
                            <md-radio-button name="rdoLista" (click)="selecionar(item)" aria-selected="">
                            </md-radio-button>
                        </label>
                    </td>
                    <td class="col-quebra">{{item.descricao}}</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-paginacao">
            <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior"
                [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro" (numPages)="paginacao.numPages = $event"
                (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center"
                [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
        </div>
    </div>
    <div class="modal-footer" *ngIf="isNotEmpty(listaGrupo)">
        <button type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_adicionar' | recurso }}</button>
    </div>
</ng-template>