<app-bloqueio></app-bloqueio>

<div *ngIf="existeUat">

    <div class="titulo-pagina-intermediaria">
        <div>Razão Social: {{uat.razaoSocial}}</div>
        <div *ngIf="uat.cnpj">CNPJ: {{uat.cnpj | cnpjPipe }}</div>
    </div>

    <div class="row">
        <div class="form-group col-md-4 col-lg-3">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('cadastrar')" [titulo]="'Cadastro Básico'" [imgFront]="'assets/img/edit.svg'" [imgBack]="'assets/img/edit_laranja.svg'" [classCardCor]="'card-laranja'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('produtoseservicos')" [titulo]="'Produtos e Serviços'" [classCardCor]="'card-musgo'" [imgFront]="'assets/img/produtosservicos.svg'" [imgBack]="'assets/img/produtosservicos_verde.svg'"></app-card-tela-intermediaria>
        </div>

        <div class="form-group col-md-4 col-lg-3">
            <app-card-tela-intermediaria (onNavegar)="mudarPagina('estruturadaunidade')" [titulo]="'Estrutura da Unidade'" [classCardCor]="'card-roxo'" [imgFront]="'assets/img/estruturadauni.svg'" [imgBack]="'assets/img/estruturadauni_roxo.svg'"></app-card-tela-intermediaria>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <button type="button" class="btn btn-secondary btn-cadastro" (click)='voltar()'>Voltar</button>
        </div>
    </div>
</div>