<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="container-form">
    <form novalidate [formGroup]="produtoServicoForm" [ngClass]="{ divDis : modoConsulta }">
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="corpo-card">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="input-group">

                        <div class="md-container">
                            <md-select placeholder="{{'app_rst_labels_selecione' | recurso}}" formControlName="linha" name="linha" id="linha">
                                <md-option value="undefined">{{ 'app_rst_labels_selecione' | recurso }}</md-option>
                                <md-option *ngFor="let linha of listaLinha" [value]="linha.id">{{linha.descricao}}
                                </md-option>
                            </md-select>
                        </div>

                        <button #tooltip="mdTooltip" color="'grey'" [mdTooltip]="'Adicione uma nova linha'" [mdTooltipPosition]="'right'" *ngIf="!this.modoConsulta" style="padding-left:10px;" class="btn-img" (click)="adicionarLinha(modalAdicionarLinha)"><img class="btn-img-link" src="assets/img/add.svg" alt="Adicionar"></button>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_produto' | recurso }}" type="text" maxlength="160" class="form-control" formControlName="nome" name="nome" id="nome">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <md-input-container [floatPlaceholder]="true">
                        <textarea mdInput placeholder="{{ 'app_rst_labels_descricao' | recurso }}" rows="3" maxlength="250" formControlName="descricao" name="descricao" id="descricao" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="btn-rodape-acoes space-up">
    <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!this.modoConsulta" (click)="salvar()">{{'app_rst_btn_salvar' | recurso}}</button>
    <button type="button " class="btn-rodape btn btn-secondary btn-cadastro" (click)="voltar()">{{'app_rst_btn_voltar' | recurso}}</button>
</div>


<ng-template #modalAdicionarLinha let-close="close" let-fechar="dismiss">
    <div class="modal-header">
        <p class="modal-title">Cadastro de Linhas</p>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="form-group col-12">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput type="text" id="descricaoLinha" name="descricaoLinha" class="form-control" [(ngModel)]="novaLinha.descricao" maxlength="160">
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close('adicionar')">{{ 'app_rst_btn_salvar' | recurso }}</button>
        <button type="button" class="btn btn-secondary" (click)="fechar('cancelar')">{{ 'app_rst_btn_cancelar' | recurso }}</button>
    </div>
</ng-template>