<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>
<div class="container-form" [ngClass]="{ divDis : modoConsulta }">
    <form [formGroup]="contratoForm">
        <alert *ngIf="inconsistencia" type="info" dismissible="true">
            <p>{{mensagemInconsistencia}}</p>
        </alert>
        <div class="container-subtitulo">
            <p>{{'app_rst_label_dados_gerais' | recurso}}</p>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <div class="md-container">
                    <md-select placeholder="{{'app_rst_labels_unidade_obra' | recurso}}" required name="unidadeObra" formControlName="unidadeObra"
                               id="idUnidadeObra">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let unidade of unidadesObra" [value]="unidade.descricao">
                            {{unidade.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <my-date-picker class="prof" id="dataInicioContrato" [options]="datePickerOptions" locale="pt-br"
                                formControlName="dataContratoInicio" name="dataContratoInicio"
                                (keyup)="maskDate($event, this.contratoForm, 'dataContratoInicio')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_inicio_contrato' | recurso }} </span>
            </div>
            <div class="form-group col-md-4">
                <my-date-picker class="prof" id="dataFimContrato" [options]="datePickerOptions" locale="pt-br"
                                formControlName="dataContratoFim" name="dataContratoFim"
                                (keyup)="maskDate($event, this.contratoForm, 'dataContratoFim')"></my-date-picker>
                <span class="floating-label"> {{ 'app_rst_labels_data_final_contrato' | recurso }} </span>
            </div>
            <div class="form-group col-md-4">
                <md-input-container [floatPlaceholder]="true">
                    <input mdInput placeholder="{{'app_rst_labels_ano_vigencia_contrato' | recurso}}" maxlength="4"
                           type="number" name="anoVigencia" id="anoVigencia" formControlName="anoVigencia" required
                           class="form-control" appFormularioCamposErro>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                <div class="md-container">
                    <md-select placeholder="{{'app_rst_labels_programa_contrato' | recurso}}" required name="tipoPrograma" formControlName="tipoPrograma"
                               id="idTipoPrograma">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let tipoPrograma of tipoProgramas" [value]="unidade.descricao">
                            {{unidade.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <div class="md-container">
                    <md-select placeholder="{{'app_rst_labels_unidade_sesi_nome' | recurso}}" required name="unidadeSesi" formControlName="unidadeAtendimentoTrabalhador"
                               id="idUnidadeSesi">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor="let unidade of unidadesAT" [value]="unidade.nomeFantasia">
                            {{unidade.nomeFantasia}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="btn-rodape-acoes space-up">
    <button *ngIf="!modoConsulta" type="button" class="btn btn-primary btn-cadastro" (click)="salvar()"> {{
        'app_rst_btn_salvar' | recurso }}
    </button>
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar()"> {{ 'app_rst_btn_voltar' | recurso
        }}
    </button>
</div>
