<ng2-toasty>
</ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="col-md-12 container-panel">
    <mat-accordion>
        <mat-expansion-panel hideToggle="true" class="custom-panel">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Instalações Físicas
                <div class="seta"> </div>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Body</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="true" class="custom-panel">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Veículos a diposição
                <div class="seta"> </div>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Body</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="true" class="custom-panel">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Quadro de pessoal
                <div class="seta"> </div>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Body</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="true" class="custom-panel">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Dimensionamento dos equipamentos
                <div class="seta"> </div>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Body</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>

<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>