<ng2-toasty>
</ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{title}}
</p>

<div class="col-md-12 space-up">
        <mat-accordion>
            <mat-expansion-panel hideToggle="true" #panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Instalações Físicas
                    <div class="seta"> </div>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Body</p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Veículos a disposição
                </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="btn-filter-pesquisar space-up">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso }}</button>
</div>