<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://xmlns.jcp.org/xml/ns/javaee
      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd" bean-discovery-mode="all">

  <interceptors>
    <class>br.com.ezvida.rst.web.interceptor.AutorizacaoInterceptor</class>
<!--     <class>fw.security.interceptor.AutenticacaoInterceptor</class> -->
  </interceptors>

</beans>
