<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>

<div class="container-form" [ngClass]="{ divDis : modoConsulta }">

    <form [formGroup]="form">
        <div class="row">

            <div class="form-group col-md-4" [ngClass]="{ divDis :  modoConsulta }">
                <div class="md-container">
                    <md-select formControlName="categoria" id="categoria" placeholder="{{ 'app_rst_labels_categoria' | recurso }}"
                        appFormularioCamposErro (change)="onChangeCategoria()">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor='let c of listCategorias' [value]="c.id">
                            {{c.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>

        </div>

    </form>

</div>

<div class="container-form" [ngClass]="{ divDis : modoConsulta }" *ngIf="showFormInstalacoesFisicas()">

    <form>
        <div *ngFor="let instFis of listInstalacoesFisicasSave; let index = index;">
            <div class="row">

                <div class="form-group col-md-4" [ngClass]="{ divDis :  modoConsulta }">
                        {{instFis.uatInstalacaoFisicaAmbiente.descricao}}
                </div>

                <div class="form-group col-md-4" [ngClass]="{ divDis :  modoConsulta }">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_quantidade' | recurso }}" type="number" name="{{instFis.uatInstalacaoFisicaAmbiente.descricao}}-quantidade"
                            [(ngModel)]="listInstalacoesFisicasSave[index].uatInstalacaoFisicaAmbiente.quantidade"
                            class="form-control" />
                    </md-input-container>
                </div>

                <div class="form-group col-md-4" [ngClass]="{ divDis :  modoConsulta }">
                    <md-input-container [floatPlaceholder]="true">
                        <input mdInput placeholder="{{ 'app_rst_labels_area' | recurso }}" type="number" name="{{instFis.uatInstalacaoFisicaAmbiente.descricao}}-area"
                            [(ngModel)]="listInstalacoesFisicasSave[index].uatInstalacaoFisicaAmbiente.area" class="form-control" />
                    </md-input-container>
                </div>

            </div>
        </div>

    </form>

</div>
