<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>
<p class="titulo-pagina">
    {{ title }}
</p>

<div class="container-form" [ngClass]="{ divDis : modoConsulta }">

    <form [formGroup]="form">
        <div class="row">

            <div class="form-group col-md-4" [ngClass]="{ divDis :  modoConsulta }">
                <div class="md-container">
                    <md-select formControlName="categoria" id="categoria" placeholder="{{ 'app_rst_labels_categoria' | recurso }}"
                        appFormularioCamposErro (change)="onChangeCategoria()">
                        <md-option>
                            <option value=undefined>{{ 'app_rst_labels_selecione' | recurso }}</option>
                        </md-option>
                        <md-option *ngFor='let c of listCategorias' [value]="c.id">
                            {{c.descricao}}
                        </md-option>
                    </md-select>
                </div>
            </div>

        </div>

    </form>

</div>


<div class="row tabela" *ngIf="showFormInstalacoesFisicas()">
    <div class="header-tabela">
        <span class="column-label">
            {{ 'app_rst_labels_ambiente' | recurso }}
        </span>
        <span class="column-quantidade">
            {{ 'app_rst_labels_quantidade' | recurso }}
        </span>
        <span class="column-area">
            {{ 'app_rst_labels_area_m2' | recurso }}
        </span>
        <span class="column-duplicar">
        </span>
    </div>

    <div class="content-tabela">
        <div *ngFor="let instFis of listInstalacoesFisicasSave; let index = index;">
            <div class="row-content-tabela">

                <span class="column-label">
                    {{instFis.uatInstalacaoFisicaAmbiente.descricao}}
                </span>

                <span class="column-quantidade">
                    <input type="text" name="{{instFis.uatInstalacaoFisicaAmbiente.descricao}}-quantidade-{{index}}"
                        [(ngModel)]="listInstalacoesFisicasSave[index].quantidade" id="quantidade" maxlength="5"
                        inputmode="numeric" pattern="[0-9]*" digitOnly>
                </span>

                <span class="column-area">
                    <input type="text" name="{{instFis.uatInstalacaoFisicaAmbiente.descricao}}-area-{{index}}"
                        [(ngModel)]="listInstalacoesFisicasSave[index].area" id="area" maxlength="5" inputmode="numeric"
                        pattern="[0-9]*" digitOnly>
                </span>

                <div class="column-duplicar">
                    <a (click)="duplicarCampo(index)"><span class="fa fa-copy fa-2x" aria-hidden="true" style="color: #3fc2f8;"></span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="btn-rodape-acoes space-up">
        <button type="button " class="btn-rodape btn btn-primary btn-cadastro " *ngIf="!modoConsulta" (click)="salvar()">
            {{'app_rst_btn_salvar' | recurso}}
        </button>
    </div>
</div>


<div class="container-form space-up" *ngIf="showGridInstalacoes()">

    <p class="titulo-table">
        {{'app_rst_categorias_cadastradas_title' | recurso}}
    </p>

    <div *ngFor="let key of objectKeys(instalacoesAgg)">

        <p class="titulo-pagina">
            {{ key }}
        </p>

        <div class="grid-pesquisa">

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="" class="label"><span>{{ 'app_rst_labels_ambiente' | recurso }}</span></th>
                        <th class="text-center" class="label"><span>{{ 'app_rst_labels_quantidade' | recurso }}</span></th>
                        <th class="text-center" class="label"><span>{{ 'app_rst_labels_area_m2' | recurso }}</span></th>
                        <th class="text-center" class="label" *ngIf="hasPermissaoDesativar()"><span>{{
                                'app_rst_btn_desativar' |
                                recurso }}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of instalacoesAgg[key]">
                        <td class="">&nbsp;{{value.descricaoAmbiente }}</td>
                        <td class="text-center">&nbsp;{{value.quantidade}}</td>
                        <td class="text-center">&nbsp;{{value.area}}</td>
                        <td class="text-center" *ngIf="hasPermissaoDesativar()">
                            <button class="btn-link" (click)="desativar(value.idInstalacaoFisica, value.idUnidade)"
                                #tooltip="mdTooltip" color="'red'" [mdTooltip]="'Desativar'" [mdTooltipPosition]="'below'">
                                <img class="lixo" [src]="'assets/img/trash.svg'">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
