<nav class="sidebar-nav">
    <ul class="nav">
        <li class="divider"></li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appMenu>
            <a class=" nav-link nav-dropdown-toggle " href="# " appMenuAlternar myHighlight>
                <span class="icon-menu icon-doc "></span>{{ 'app_rst_menu_cadastro' | recurso}}</a>
            <ul class="nav-dropdown-items ">
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/auditoria'] ">
                        {{ 'Auditoria' }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/uat'] ">
                        {{ 'app_rst_menu_uat' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/pesquisa-sesi'] ">
                        {{ 'app_rst_menu_pesquisa_sesi' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/empresa'] ">
                        {{ 'app_rst_menu_empresa' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/trabalhador'] ">
                        {{ 'app_rst_menu_trabalhador' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/profissional'] ">
                        {{ 'app_rst_profissionais_saude_menu' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/questionario'] ">
                        {{ 'app_rst_menu_questionario' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/sindicato'] ">
                        {{ 'app_rst_sindicatos_title_menu' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/departamentoregional'] ">
                        {{ 'app_rst_labels_departamento_regional' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/parceirocredenciado'] ">
                        {{ 'app_rst_labels_parceiro_credenciado' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/redecredenciada'] ">
                        {{ 'app_rst_labels_rede_credenciada' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/produtoservico'] ">
                        {{ 'app_rst_labels_produto_servico' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/usuario'] ">
                        {{ 'app_rst_labels_usuario' | recurso }}
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/minhaconta'] ">
                        {{ 'minha_conta' | recurso }}
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="sub-item nav-link " routerLinkActive="active " [routerLink]="[ '/cadastro/sistema-credenciado'] ">
                        {{ 'app_rst_sistema_credenciado' | recurso }}
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-title ">Conta</li>
        <li class="nav-item ">
            <a class="nav-link " routerLinkActive="active " (click)="logout() ">
                <span class="fa fa-lock "></span> {{ 'app_rst_menu_sair' | recurso }}
            </a>
        </li>
    </ul>
</nav>
