<ng2-toasty></ng2-toasty>
<app-bloqueio></app-bloqueio>

<p class="titulo-pagina">
    {{ title }}
</p>

<div class="container-form space-up">
    <div class="grid-pesquisa">
        <div class="container-subtitulo">
            <p>{{'app_rst_empresa_contrato_title' | recurso}}</p>
        </div>
        <div *ngIf="isEmpty(contratos)" class="row">
            <div class="form-group col-md-12">
                {{ 'app_rst_msg_nenhum_registro_adicionado' | recurso }}
            </div>
        </div>
        <div *ngIf="isNotEmpty(contratos)">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="label" style="width: 15%;"><span>{{ 'app_rst_labels_unidade_nome_obra' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_data_inicio_contrato' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_data_final_contrato' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_ano_vigencia_contrato' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_programa_contrato' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_unidade_sesi_nome' | recurso }}</span></th>
                        <th class="label"><span>{{ 'app_rst_labels_contrato_status' | recurso }}</span></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of contratos">
                        <th class="label text-center">
                        </th>
                        <td class="col-nome col-nao-quebra">&nbsp;{{item.unidadeObra.descricao}}</td>
                        <td class="col-nome col-nao-quebra">&nbsp;{{item.dataContratoInicio}}</td>
                        <td class="col-nome col-nao-quebra">&nbsp;{{item.dataContratoFim}}</td>
                        <td class="col-nome col-quebra">&nbsp;{{item.anoVigencia}}</td>
                        <td class="col-nome col-quebra">&nbsp;{{item.tipoPrograma.sigla}}</td>
                        <td class="col-nome col-quebra">&nbsp;{{item.unidadeAtendimentoTrabalhador.nomeFantasia}}</td>
                        <td class="col-nome col-nao-quebra">
                            <div class="form-check row-md-4" style="display: flex !important; align-items: center !important;">
                                <img src="assets/img/block.svg" style="height: 15px; margin-right: 7px;">
                                <mat-slide-toggle #tooltip="mdTooltip" name="cipa" id="cipa"
                                                  [disableRipple]="desativaToggle(item.flagInativo)"
                                                  [disabled]="desativaToggle(item.flagInativo)"
                                                  (change)="mudaStatus($event, item.id, item) "
                                                  [checked]="item.flagInativo == undefined || item.flagInativo == 'N'"
                                                  [mdTooltip]="mudaTooltip(item)" [mdTooltipPosition]="'below'">
                                </mat-slide-toggle>
                                <img src="assets/img/unblock.svg" style="height: 15px">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-paginacao">
                <pagination [firstText]="paginacao.textPrimeiro" [lastText]="paginacao.textUltimo" [nextText]="paginacao.textProximo" [previousText]="paginacao.textAnterior" [totalItems]="paginacao.totalItens" [(ngModel)]="paginacao.pagina" [itemsPerPage]="paginacao.qtdRegistro"
                    (numPages)="paginacao.numPages = $event" (pageChanged)="pageChanged($event)" [maxSize]="paginacao.maxSize" class="pagination-sm justify-content-center" [align]="true" [boundaryLinks]="true" [rotate]="false"></pagination>
            </div>
        </div>
    </div>
</div>

<div class="btn-rodape-acoes space-up">
    <button type="button" class="btn btn-secondary btn-cadastro" (click)="voltar();">{{ 'app_rst_btn_voltar' | recurso
        }}
    </button>
    <button *ngIf="!isEmpresa" type="button" class="btn btn-primary btn-cadastro" (click)="criarCadastro();">{{ 'app_rst_btn_novo' |
        recurso }}
    </button>
</div>
